.badge {
  display: inline-block;
  padding: 0.25em 0.4em;
  font-size: 75%;
  font-weight: 700;
  line-height: 1;
  text-align: center;
  white-space: nowrap;
  vertical-align: baseline;
  border-radius: 0.25rem;
  transition: color 0.15s ease-in-out, background-color 0.15s ease-in-out, border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out;
}

@media (prefers-reduced-motion: reduce) {
  .badge {
    transition: none;
  }
}

a.badge:hover, a.badge:focus {
  text-decoration: none;
}

.badge:empty {
  display: none;
}

.btn .badge {
  position: relative;
  top: -1px;
}

.badge-pill {
  padding-right: 0.6em;
  padding-left: 0.6em;
  border-radius: 10rem;
}

.badge-primary {
  color: #fff;
  background-color: #321fdb;
}

a.badge-primary:hover, a.badge-primary:focus {
  color: #fff;
  background-color: #2819ae;
}

a.badge-primary:focus, a.badge-primary.focus {
  outline: 0;
  box-shadow: 0 0 0 0.2rem rgba(50, 31, 219, 0.5);
}

.badge-secondary {
  color: #4f5d73;
  background-color: #ced2d8;
}

a.badge-secondary:hover, a.badge-secondary:focus {
  color: #4f5d73;
  background-color: #b2b8c1;
}

a.badge-secondary:focus, a.badge-secondary.focus {
  outline: 0;
  box-shadow: 0 0 0 0.2rem rgba(206, 210, 216, 0.5);
}

.badge-success {
  color: #fff;
  background-color: #2eb85c;
}

a.badge-success:hover, a.badge-success:focus {
  color: #fff;
  background-color: #248f48;
}

a.badge-success:focus, a.badge-success.focus {
  outline: 0;
  box-shadow: 0 0 0 0.2rem rgba(46, 184, 92, 0.5);
}

.badge-info {
  color: #fff;
  background-color: #39f;
}

a.badge-info:hover, a.badge-info:focus {
  color: #fff;
  background-color: #0080ff;
}

a.badge-info:focus, a.badge-info.focus {
  outline: 0;
  box-shadow: 0 0 0 0.2rem rgba(51, 153, 255, 0.5);
}

.badge-warning {
  color: #4f5d73;
  background-color: #f9b115;
}

a.badge-warning:hover, a.badge-warning:focus {
  color: #4f5d73;
  background-color: #d69405;
}

a.badge-warning:focus, a.badge-warning.focus {
  outline: 0;
  box-shadow: 0 0 0 0.2rem rgba(249, 177, 21, 0.5);
}

.badge-danger {
  color: #fff;
  background-color: #e55353;
}

a.badge-danger:hover, a.badge-danger:focus {
  color: #fff;
  background-color: #de2727;
}

a.badge-danger:focus, a.badge-danger.focus {
  outline: 0;
  box-shadow: 0 0 0 0.2rem rgba(229, 83, 83, 0.5);
}

.badge-light {
  color: #4f5d73;
  background-color: #ebedef;
}

a.badge-light:hover, a.badge-light:focus {
  color: #4f5d73;
  background-color: #cfd4d8;
}

a.badge-light:focus, a.badge-light.focus {
  outline: 0;
  box-shadow: 0 0 0 0.2rem rgba(235, 237, 239, 0.5);
}

.badge-dark {
  color: #fff;
  background-color: #636f83;
}

a.badge-dark:hover, a.badge-dark:focus {
  color: #fff;
  background-color: #4d5666;
}

a.badge-dark:focus, a.badge-dark.focus {
  outline: 0;
  box-shadow: 0 0 0 0.2rem rgba(99, 111, 131, 0.5);
}

.c-dark-theme .badge-primary {
  color: #fff;
  background-color: #4638c2;
}

a.c-dark-theme .badge-primary:hover, a.c-dark-theme .badge-primary:focus {
  color: #fff;
  background-color: #382d9a;
}

a.c-dark-theme .badge-primary:focus, a.c-dark-theme .badge-primary.focus {
  outline: 0;
  box-shadow: 0 0 0 0.2rem rgba(70, 56, 194, 0.5);
}

.c-dark-theme .badge-secondary {
  color: #fff;
  background-color: #4c4f54;
}

a.c-dark-theme .badge-secondary:hover, a.c-dark-theme .badge-secondary:focus {
  color: #fff;
  background-color: #343639;
}

a.c-dark-theme .badge-secondary:focus, a.c-dark-theme .badge-secondary.focus {
  outline: 0;
  box-shadow: 0 0 0 0.2rem rgba(76, 79, 84, 0.5);
}

.c-dark-theme .badge-success {
  color: #fff;
  background-color: #45a164;
}

a.c-dark-theme .badge-success:hover, a.c-dark-theme .badge-success:focus {
  color: #fff;
  background-color: #367d4e;
}

a.c-dark-theme .badge-success:focus, a.c-dark-theme .badge-success.focus {
  outline: 0;
  box-shadow: 0 0 0 0.2rem rgba(69, 161, 100, 0.5);
}

.c-dark-theme .badge-info {
  color: #fff;
  background-color: #4799eb;
}

a.c-dark-theme .badge-info:hover, a.c-dark-theme .badge-info:focus {
  color: #fff;
  background-color: #1a80e6;
}

a.c-dark-theme .badge-info:focus, a.c-dark-theme .badge-info.focus {
  outline: 0;
  box-shadow: 0 0 0 0.2rem rgba(71, 153, 235, 0.5);
}

.c-dark-theme .badge-warning {
  color: #4f5d73;
  background-color: #e1a82d;
}

a.c-dark-theme .badge-warning:hover, a.c-dark-theme .badge-warning:focus {
  color: #4f5d73;
  background-color: #c08c1b;
}

a.c-dark-theme .badge-warning:focus, a.c-dark-theme .badge-warning.focus {
  outline: 0;
  box-shadow: 0 0 0 0.2rem rgba(225, 168, 45, 0.5);
}

.c-dark-theme .badge-danger {
  color: #fff;
  background-color: #d16767;
}

a.c-dark-theme .badge-danger:hover, a.c-dark-theme .badge-danger:focus {
  color: #fff;
  background-color: #c54040;
}

a.c-dark-theme .badge-danger:focus, a.c-dark-theme .badge-danger.focus {
  outline: 0;
  box-shadow: 0 0 0 0.2rem rgba(209, 103, 103, 0.5);
}

.c-dark-theme .badge-light {
  color: #fff;
  background-color: #20202a;
}

a.c-dark-theme .badge-light:hover, a.c-dark-theme .badge-light:focus {
  color: #fff;
  background-color: #0a0a0d;
}

a.c-dark-theme .badge-light:focus, a.c-dark-theme .badge-light.focus {
  outline: 0;
  box-shadow: 0 0 0 0.2rem rgba(32, 32, 42, 0.5);
}

.c-dark-theme .badge-dark {
  color: #fff;
  background-color: #181924;
}

a.c-dark-theme .badge-dark:hover, a.c-dark-theme .badge-dark:focus {
  color: #fff;
  background-color: #040405;
}

a.c-dark-theme .badge-dark:focus, a.c-dark-theme .badge-dark.focus {
  outline: 0;
  box-shadow: 0 0 0 0.2rem rgba(24, 25, 36, 0.5);
}

/*# sourceMappingURL=badge.css.map */