:root {
  --primary-legacy-theme: #321fdb;
  --secondary-legacy-theme: #ced2d8;
  --success-legacy-theme: #2eb85c;
  --info-legacy-theme: #39f;
  --warning-legacy-theme: #f9b115;
  --danger-legacy-theme: #e55353;
  --light-legacy-theme: #ebedef;
  --dark-legacy-theme: #636f83;
}

:root {
  --primary-dark-theme: #4638c2;
  --secondary-dark-theme: #4c4f54;
  --success-dark-theme: #45a164;
  --info-dark-theme: #4799eb;
  --warning-dark-theme: #e1a82d;
  --danger-dark-theme: #d16767;
  --light-dark-theme: #20202a;
  --dark-dark-theme: #181924;
}

.popover {
  position: absolute;
  top: 0;
  left: 0;
  z-index: 1060;
  display: block;
  max-width: 276px;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, "Noto Sans", sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
  font-style: normal;
  font-weight: 400;
  line-height: 1.5;
  text-align: left;
  text-align: start;
  text-decoration: none;
  text-shadow: none;
  text-transform: none;
  letter-spacing: normal;
  word-break: normal;
  word-spacing: normal;
  white-space: normal;
  line-break: auto;
  font-size: 0.765625rem;
  word-wrap: break-word;
  background-clip: padding-box;
  border: 1px solid;
  border-radius: 0.3rem;
  background-color: #fff;
  border-color: rgba(0, 0, 21, 0.2);
}

.c-legacy-theme .popover {
  background-color: #fff;
  border-color: rgba(0, 0, 0, 0.2);
}

.c-dark-theme .popover {
  background-color: #1e1e29;
  border-color: #181924;
}

.popover .popover-arrow {
  position: absolute;
  display: block;
  width: 1rem;
  height: 0.5rem;
  margin: 0 0.3rem;
}

.popover .popover-arrow::before, .popover .popover-arrow::after {
  position: absolute;
  display: block;
  content: "";
  border-color: transparent;
  border-style: solid;
}

.bs-popover-top, .bs-popover-auto[data-popper-placement^="top"] {
  margin-bottom: 0.5rem !important;
}

.bs-popover-top > .popover-arrow, .bs-popover-auto[data-popper-placement^="top"] > .popover-arrow {
  bottom: calc(-0.5rem - 1px);
}

.bs-popover-top > .popover-arrow::before, .bs-popover-auto[data-popper-placement^="top"] > .popover-arrow::before {
  bottom: 0;
  border-width: 0.5rem 0.5rem 0;
  border-top-color: rgba(0, 0, 21, 0.25);
}

.c-legacy-theme .bs-popover-top > .popover-arrow::before, .c-legacy-theme .bs-popover-auto[data-popper-placement^="top"] > .popover-arrow::before {
  border-top-color: rgba(0, 0, 0, 0.25);
}

.c-dark-theme .bs-popover-top > .popover-arrow::before, .c-dark-theme .bs-popover-auto[data-popper-placement^="top"] > .popover-arrow::before {
  border-top-color: #181924;
}

.bs-popover-top > .popover-arrow::after, .bs-popover-auto[data-popper-placement^="top"] > .popover-arrow::after {
  bottom: 1px;
  border-width: 0.5rem 0.5rem 0;
  border-top-color: #fff;
}

.c-legacy-theme .bs-popover-top > .popover-arrow::after, .c-legacy-theme .bs-popover-auto[data-popper-placement^="top"] > .popover-arrow::after {
  border-top-color: #fff;
}

.c-dark-theme .bs-popover-top > .popover-arrow::after, .c-dark-theme .bs-popover-auto[data-popper-placement^="top"] > .popover-arrow::after {
  border-top-color: #1e1e29;
}

.bs-popover-right, .bs-popover-auto[data-popper-placement^="right"] {
  margin-left: 0.5rem !important;
}

.bs-popover-right > .popover-arrow, .bs-popover-auto[data-popper-placement^="right"] > .popover-arrow {
  left: calc(-0.5rem - 1px);
  width: 0.5rem;
  height: 1.6rem;
  padding: 0.3rem 0;
  margin: 0;
}

.bs-popover-right > .popover-arrow::before, .bs-popover-auto[data-popper-placement^="right"] > .popover-arrow::before {
  left: 0;
  border-width: 0.5rem 0.5rem 0.5rem 0;
  border-right-color: rgba(0, 0, 21, 0.25);
}

.c-legacy-theme .bs-popover-right > .popover-arrow::before, .c-legacy-theme .bs-popover-auto[data-popper-placement^="right"] > .popover-arrow::before {
  border-right-color: rgba(0, 0, 0, 0.25);
}

.c-dark-theme .bs-popover-right > .popover-arrow::before, .c-dark-theme .bs-popover-auto[data-popper-placement^="right"] > .popover-arrow::before {
  border-right-color: #181924;
}

.bs-popover-right > .popover-arrow::after, .bs-popover-auto[data-popper-placement^="right"] > .popover-arrow::after {
  left: 1px;
  border-width: 0.5rem 0.5rem 0.5rem 0;
  border-right-color: #fff;
}

.c-legacy-theme .bs-popover-right > .popover-arrow::after, .c-legacy-theme .bs-popover-auto[data-popper-placement^="right"] > .popover-arrow::after {
  border-right-color: #fff;
}

.c-dark-theme .bs-popover-right > .popover-arrow::after, .c-dark-theme .bs-popover-auto[data-popper-placement^="right"] > .popover-arrow::after {
  border-right-color: #1e1e29;
}

.bs-popover-bottom, .bs-popover-auto[data-popper-placement^="bottom"] {
  margin-top: 0.5rem !important;
}

.bs-popover-bottom > .popover-arrow, .bs-popover-auto[data-popper-placement^="bottom"] > .popover-arrow {
  top: calc(-0.5rem - 1px);
}

.bs-popover-bottom > .popover-arrow::before, .bs-popover-auto[data-popper-placement^="bottom"] > .popover-arrow::before {
  top: 0;
  border-width: 0 0.5rem 0.5rem 0.5rem;
  border-bottom-color: rgba(0, 0, 21, 0.25);
}

.c-legacy-theme .bs-popover-bottom > .popover-arrow::before, .c-legacy-theme .bs-popover-auto[data-popper-placement^="bottom"] > .popover-arrow::before {
  border-bottom-color: rgba(0, 0, 0, 0.25);
}

.c-dark-theme .bs-popover-bottom > .popover-arrow::before, .c-dark-theme .bs-popover-auto[data-popper-placement^="bottom"] > .popover-arrow::before {
  border-bottom-color: #181924;
}

.bs-popover-bottom > .popover-arrow::after, .bs-popover-auto[data-popper-placement^="bottom"] > .popover-arrow::after {
  top: 1px;
  border-width: 0 0.5rem 0.5rem 0.5rem;
  border-bottom-color: #fff;
}

.c-legacy-theme .bs-popover-bottom > .popover-arrow::after, .c-legacy-theme .bs-popover-auto[data-popper-placement^="bottom"] > .popover-arrow::after {
  border-bottom-color: #fff;
}

.c-dark-theme .bs-popover-bottom > .popover-arrow::after, .c-dark-theme .bs-popover-auto[data-popper-placement^="bottom"] > .popover-arrow::after {
  border-bottom-color: #1e1e29;
}

.bs-popover-bottom .popover-header::before, .bs-popover-auto[data-popper-placement^="bottom"] .popover-header::before {
  position: absolute;
  top: 0;
  left: 50%;
  display: block;
  width: 1rem;
  margin-left: -0.5rem;
  content: "";
  border-bottom: 1px solid;
  border-bottom-color: #f7f7f7;
}

.c-legacy-theme .bs-popover-bottom .popover-header::before, .c-legacy-theme .bs-popover-auto[data-popper-placement^="bottom"] .popover-header::before {
  border-bottom-color: #f7f7f7;
}

.c-dark-theme .bs-popover-bottom .popover-header::before, .c-dark-theme .bs-popover-auto[data-popper-placement^="bottom"] .popover-header::before {
  border-bottom-color: #181924;
}

.bs-popover-left, .bs-popover-auto[data-popper-placement^="left"] {
  margin-left: 0.5rem !important;
}

.bs-popover-left > .popover-arrow, .bs-popover-auto[data-popper-placement^="left"] > .popover-arrow {
  right: calc(-0.5rem - 1px);
  width: 0.5rem;
  height: 1.6rem;
  padding: 0.3rem 0;
  margin: 0;
}

.bs-popover-left > .popover-arrow::before, .bs-popover-auto[data-popper-placement^="left"] > .popover-arrow::before {
  right: 0;
  border-width: 0.5rem 0 0.5rem 0.5rem;
  border-left-color: rgba(0, 0, 21, 0.25);
}

.c-legacy-theme .bs-popover-left > .popover-arrow::before, .c-legacy-theme .bs-popover-auto[data-popper-placement^="left"] > .popover-arrow::before {
  border-left-color: rgba(0, 0, 0, 0.25);
}

.c-dark-theme .bs-popover-left > .popover-arrow::before, .c-dark-theme .bs-popover-auto[data-popper-placement^="left"] > .popover-arrow::before {
  border-left-color: #181924;
}

.bs-popover-left > .popover-arrow::after, .bs-popover-auto[data-popper-placement^="left"] > .popover-arrow::after {
  right: 1px;
  border-width: 0.5rem 0 0.5rem 0.5rem;
  border-left-color: #fff;
}

.c-legacy-theme .bs-popover-left > .popover-arrow::after, .c-legacy-theme .bs-popover-auto[data-popper-placement^="left"] > .popover-arrow::after {
  border-left-color: #fff;
}

.c-dark-theme .bs-popover-left > .popover-arrow::after, .c-dark-theme .bs-popover-auto[data-popper-placement^="left"] > .popover-arrow::after {
  border-left-color: #1e1e29;
}

.popover-header {
  padding: 0.5rem 0.75rem;
  margin-bottom: 0;
  font-size: 0.875rem;
  border-bottom: 1px solid;
  border-top-left-radius: calc(0.3rem - 1px);
  border-top-right-radius: calc(0.3rem - 1px);
  background-color: #f7f7f7;
  border-bottom-color: #ebebeb;
}

.c-legacy-theme .popover-header {
  background-color: #f7f7f7;
  border-bottom-color: #ebebeb;
}

.c-dark-theme .popover-header {
  color: #e1e1e1;
  background-color: #181924;
  border-bottom-color: #0e0e15;
}

.popover-header:empty {
  display: none;
}

.popover-body {
  padding: 0.5rem 0.75rem;
  color: #4f5d73;
}

.c-legacy-theme .popover-body {
  color: #23282c;
}

.c-dark-theme .popover-body {
  color: #e1e1e1;
}

/*# sourceMappingURL=popover.css.map */