@use "sass:map";
@use "functions/defaults" as *;
@use "mixins/border-radius" as *;
@use "mixins/tokens" as *;
@use "theme" as *;
@use "config" as *;

// scss-docs-start alert-variables
$alert-padding-y:               var(--#{$prefix}spacer-3) !default;
$alert-padding-x:               var(--#{$prefix}spacer-3) !default;
$alert-gap:                     var(--#{$prefix}spacer-2) !default;
$alert-margin-bottom:           1rem !default;
$alert-border-radius:           var(--#{$prefix}border-radius) !default;
$alert-link-font-weight:        var(--#{$prefix}font-weight-bold) !default;
$alert-border-width:            var(--#{$prefix}border-width) !default;
// scss-docs-end alert-variables

$alert-tokens: () !default;

// stylelint-disable scss/dollar-variable-default

// scss-docs-start alert-css-vars
$alert-tokens: defaults(
  (
    --#{$prefix}alert-bg: transparent,
    --#{$prefix}alert-padding-x: #{$alert-padding-x},
    --#{$prefix}alert-padding-y: #{$alert-padding-y},
    --#{$prefix}alert-gap: #{$alert-gap},
    --#{$prefix}alert-margin-bottom: #{$alert-margin-bottom},
    --#{$prefix}alert-color: inherit,
    --#{$prefix}alert-border-color: transparent,
    --#{$prefix}alert-border: #{$alert-border-width} solid var(--#{$prefix}theme-border, var(--#{$prefix}alert-border-color)),
    --#{$prefix}alert-border-radius: #{$alert-border-radius},
    --#{$prefix}alert-link-color: inherit,
    --#{$prefix}hr-border-color: var(--#{$prefix}theme-border, var(--#{$prefix}border-color)),
  ),
  $alert-tokens
);
// scss-docs-end alert-css-vars

// stylelint-enable scss/dollar-variable-default

// scss-docs-start alert-variants
$alert-variants: (
  "solid": (
    "color": "contrast",
    "bg": "base",
    "border-color": "base"
  )
) !default;
// scss-docs-end alert-variants

@layer components {
  .alert {
    @include tokens($alert-tokens);

    display: flex;
    gap: var(--#{$prefix}alert-gap);
    align-items: start;
    padding: var(--#{$prefix}alert-padding-y) var(--#{$prefix}alert-padding-x);
    margin-bottom: var(--#{$prefix}alert-margin-bottom);
    color: var(--#{$prefix}theme-fg-emphasis, var(--#{$prefix}alert-color));
    background-color: var(--#{$prefix}theme-bg-subtle, var(--#{$prefix}alert-bg));
    border: var(--#{$prefix}alert-border);
    @include border-radius(var(--#{$prefix}alert-border-radius));
  }

  .alert > p {
    margin-bottom: 0;
  }

  @starting-style {
    .alert.fade.show {
      opacity: 0;
    }
  }

  .alert-heading {
    color: inherit;
  }

  .alert-link {
    font-weight: $alert-link-font-weight;
    color: var(--#{$prefix}alert-link-color);
  }

  .alert > .btn-close {
    margin-inline-start: auto;
  }


  // scss-docs-start alert-modifiers
  @each $state in map.keys($theme-colors) {
    .alert-#{$state} {
      @include theme-tokens($state);
    }
  }

  @each $variant, $properties in $alert-variants {
    .alert-#{$variant} {
      @each $property, $value in $properties {
        @if $value == "transparent" {
          --#{$prefix}alert-#{$property}: transparent;
        } @else {
          --#{$prefix}alert-#{$property}: var(--#{$prefix}theme-#{$value});
        }
      }
    }
  }
  // scss-docs-end alert-modifiers
}
