@use "sass:math";
@use "forms/form-check" as *;
@use "functions/defaults" as *;
@use "functions/escape-svg" as *;
@use "mixins/border-radius" as *;
@use "mixins/box-shadow" as *;
@use "mixins/tokens" as *;
@use "mixins/transition" as *;
@use "config" as *;

// stylelint-disable custom-property-no-missing-var-function

// scss-docs-start autocomplete-variables
$autocomplete-zindex:                    1000 !default;
$autocomplete-font-family:               var(--#{$prefix}btn-input-font-family) !default;
$autocomplete-font-size:                 var(--#{$prefix}btn-input-font-size) !default;
$autocomplete-font-weight:               $input-font-weight !default;
$autocomplete-line-height:               var(--#{$prefix}btn-input-line-height) !default;
$autocomplete-padding-y:                 var(--#{$prefix}btn-input-padding-y) !default;
$autocomplete-padding-x:                 var(--#{$prefix}btn-input-padding-x) !default;
$autocomplete-color:                     var(--#{$prefix}btn-input-color) !default;
$autocomplete-bg:                        var(--#{$prefix}btn-input-bg) !default;
$autocomplete-box-shadow:                $box-shadow-inset !default;

$autocomplete-border-width:              var(--#{$prefix}btn-input-border-width) !default;
$autocomplete-border-color:              $input-border-color !default;
$autocomplete-border-radius:             $input-border-radius !default;
$autocomplete-border-radius-sm:          $input-border-radius-sm !default;
$autocomplete-border-radius-lg:          $input-border-radius-lg !default;

$autocomplete-disabled-color:            $input-disabled-color !default;
$autocomplete-disabled-bg:               $input-disabled-bg !default;
$autocomplete-disabled-border-color:     $input-disabled-border-color !default;

$autocomplete-focus-color:               $input-focus-color !default;
$autocomplete-focus-bg:                  $input-focus-bg !default;
$autocomplete-focus-border-color:        $input-focus-border-color !default;
$autocomplete-focus-box-shadow:          $input-btn-focus-box-shadow !default;

$autocomplete-placeholder-color:         var(--#{$prefix}secondary-color) !default;

$autocomplete-invalid-border-color:      var(--#{$prefix}form-invalid-border-color) !default;
$autocomplete-valid-border-color:        var(--#{$prefix}form-valid-border-color) !default;

$autocomplete-cleaner-width:             1.5rem !default;
$autocomplete-cleaner-height:            1.5rem !default;
$autocomplete-cleaner-padding-x:         0 !default;
$autocomplete-cleaner-padding-y:         0 !default;
$autocomplete-cleaner-icon:              url("data:image/svg+xml,<svg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 16 16' fill='#000'><path d='M.293.293a1 1 0 011.414 0L8 6.586 14.293.293a1 1 0 111.414 1.414L9.414 8l6.293 6.293a1 1 0 01-1.414 1.414L8 9.414l-6.293 6.293a1 1 0 01-1.414-1.414L6.586 8 .293 1.707a1 1 0 010-1.414z'/></svg>") !default;
$autocomplete-cleaner-icon-color:        var(--#{$prefix}tertiary-color) !default;
$autocomplete-cleaner-icon-hover-color:  var(--#{$prefix}body-color) !default;
$autocomplete-cleaner-icon-size:         .625rem !default;

$autocomplete-indicator-width:             1.5rem !default;
$autocomplete-indicator-height:            1.5rem !default;
$autocomplete-indicator-padding-x:         0 !default;
$autocomplete-indicator-padding-y:         0 !default;
$autocomplete-indicator-icon:              url("data:image/svg+xml,<svg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 512 512' fill='#000'><path d='M256.045 416.136.717 160.807l29.579-29.579 225.749 225.748 225.749-225.748 29.579 29.579-255.328 255.329z'/></svg>") !default;
$autocomplete-indicator-icon-color:        var(--#{$prefix}tertiary-color) !default;
$autocomplete-indicator-icon-hover-color:  var(--#{$prefix}body-color) !default;
$autocomplete-indicator-icon-size:         .75rem !default;

$autocomplete-dropdown-min-width:        100% !default;
$autocomplete-dropdown-bg:               var(--#{$prefix}body-bg) !default;
$autocomplete-dropdown-border-color:     var(--#{$prefix}border-color) !default;
$autocomplete-dropdown-border-width:     var(--#{$prefix}border-width) !default;
$autocomplete-dropdown-border-radius:    var(--#{$prefix}border-radius) !default;
$autocomplete-dropdown-box-shadow:       var(--#{$prefix}box-shadow) !default;

$autocomplete-options-padding-y:         .5rem !default;
$autocomplete-options-padding-x:         .5rem !default;
$autocomplete-options-font-size:         $font-size-base !default;
$autocomplete-options-font-weight:       $font-weight-normal !default;
$autocomplete-options-color:             var(--#{$prefix}body-color) !default;

$autocomplete-optgroup-label-padding-y:       .5rem !default;
$autocomplete-optgroup-label-padding-x:       .625rem !default;
$autocomplete-optgroup-label-font-size:       80% !default;
$autocomplete-optgroup-label-font-weight:     $font-weight-bold !default;
$autocomplete-optgroup-label-color:           var(--#{$prefix}tertiary-color) !default;
$autocomplete-optgroup-label-text-transform:  uppercase !default;

$autocomplete-option-padding-y:               .5rem !default;
$autocomplete-option-padding-x:               .75rem !default;
$autocomplete-option-margin-y:                1px !default;
$autocomplete-option-margin-x:                0 !default;
$autocomplete-option-border-width:            $input-border-width !default;
$autocomplete-option-border-color:            transparent !default;
$autocomplete-option-border-radius:           var(--#{$prefix}border-radius) !default;
$autocomplete-option-box-shadow:              $box-shadow-inset !default;

$autocomplete-option-hover-color:             var(--#{$prefix}body-color) !default;
$autocomplete-option-hover-bg:                var(--#{$prefix}tertiary-bg) !default;

$autocomplete-option-focus-box-shadow:        $input-btn-focus-box-shadow !default;

$autocomplete-option-indicator-width:          1em !default;
$autocomplete-option-indicator-bg:             var(--#{$prefix}btn-input-bg) !default;
$autocomplete-option-indicator-border:         $form-check-input-border !default;
$autocomplete-option-indicator-border-radius:  .25em !default;

$autocomplete-option-selected-bg:                      var(--#{$prefix}secondary-bg) !default;
$autocomplete-option-selected-indicator-bg:            var(--#{$prefix}control-checked-bg) !default;
$autocomplete-option-selected-indicator-bg-image:      $form-check-input-checked-bg-image !default;
$autocomplete-option-selected-indicator-border-color:  var(--#{$prefix}control-checked-border-color) !default;

$autocomplete-option-disabled-color:        var(--#{$prefix}secondary-color) !default;

$autocomplete-font-size-lg:                 var(--#{$prefix}btn-input-lg-font-size) !default;
$autocomplete-padding-y-lg:                 var(--#{$prefix}btn-input-lg-padding-y) !default;
$autocomplete-padding-x-lg:                 var(--#{$prefix}btn-input-lg-padding-x) !default;

$autocomplete-font-size-sm:                 var(--#{$prefix}btn-input-sm-font-size) !default;
$autocomplete-padding-y-sm:                 var(--#{$prefix}btn-input-sm-padding-y) !default;
$autocomplete-padding-x-sm:                 var(--#{$prefix}btn-input-sm-padding-x) !default;
// scss-docs-end autocomplete-variables

$autocomplete-tokens: () !default;

// scss-docs-start autocomplete-css-vars
// stylelint-disable-next-line scss/dollar-variable-default
$autocomplete-tokens: defaults(
  (
    --#{$prefix}autocomplete-zindex: #{$autocomplete-zindex},
    --#{$prefix}control-font-family: #{$autocomplete-font-family},
    --#{$prefix}control-font-size: #{$autocomplete-font-size},
    --#{$prefix}control-font-weight: #{$autocomplete-font-weight},
    --#{$prefix}control-line-height: #{$autocomplete-line-height},
    --#{$prefix}control-color: #{$autocomplete-color},
    --#{$prefix}control-bg: #{$autocomplete-bg},
    --#{$prefix}control-box-shadow: #{$autocomplete-box-shadow},
    --#{$prefix}control-border-width: #{$autocomplete-border-width},
    --#{$prefix}control-border-color: #{$autocomplete-border-color},
    --#{$prefix}control-border-radius: #{$autocomplete-border-radius},
    --#{$prefix}control-disabled-color: #{$autocomplete-disabled-color},
    --#{$prefix}control-disabled-bg: #{$autocomplete-disabled-bg},
    --#{$prefix}control-disabled-border-color: #{$autocomplete-disabled-border-color},
    --#{$prefix}control-focus-color: #{$autocomplete-focus-color},
    --#{$prefix}control-focus-bg: #{$autocomplete-focus-bg},
    --#{$prefix}control-focus-border-color: #{$autocomplete-focus-border-color},
    --#{$prefix}control-focus-box-shadow: #{$autocomplete-focus-box-shadow},
    --#{$prefix}autocomplete-placeholder-color: #{$autocomplete-placeholder-color},
    --#{$prefix}control-padding-y: #{$autocomplete-padding-y},
    --#{$prefix}control-padding-x: #{$autocomplete-padding-x},
    --#{$prefix}autocomplete-cleaner-width: #{$autocomplete-cleaner-width},
    --#{$prefix}autocomplete-cleaner-height: #{$autocomplete-cleaner-height},
    --#{$prefix}autocomplete-cleaner-padding-y: #{$autocomplete-cleaner-padding-y},
    --#{$prefix}autocomplete-cleaner-padding-x: #{$autocomplete-cleaner-padding-x},
    --#{$prefix}autocomplete-cleaner-icon: #{escape-svg($autocomplete-cleaner-icon)},
    --#{$prefix}autocomplete-cleaner-icon-color: #{$autocomplete-cleaner-icon-color},
    --#{$prefix}autocomplete-cleaner-icon-hover-color: #{$autocomplete-cleaner-icon-hover-color},
    --#{$prefix}autocomplete-cleaner-icon-size: #{$autocomplete-cleaner-icon-size},
    --#{$prefix}autocomplete-indicator-width: #{$autocomplete-indicator-width},
    --#{$prefix}autocomplete-indicator-height: #{$autocomplete-indicator-height},
    --#{$prefix}autocomplete-indicator-padding-y: #{$autocomplete-indicator-padding-y},
    --#{$prefix}autocomplete-indicator-padding-x: #{$autocomplete-indicator-padding-x},
    --#{$prefix}autocomplete-indicator-icon: #{escape-svg($autocomplete-indicator-icon)},
    --#{$prefix}autocomplete-indicator-icon-color: #{$autocomplete-indicator-icon-color},
    --#{$prefix}autocomplete-indicator-icon-hover-color: #{$autocomplete-indicator-icon-hover-color},
    --#{$prefix}autocomplete-indicator-icon-size: #{$autocomplete-indicator-icon-size},
    --#{$prefix}autocomplete-dropdown-min-width: #{$autocomplete-dropdown-min-width},
    --#{$prefix}autocomplete-dropdown-bg: #{$autocomplete-dropdown-bg},
    --#{$prefix}autocomplete-dropdown-border-width: #{$autocomplete-dropdown-border-width},
    --#{$prefix}autocomplete-dropdown-border-color: #{$autocomplete-dropdown-border-color},
    --#{$prefix}autocomplete-dropdown-border-radius: #{$autocomplete-dropdown-border-radius},
    --#{$prefix}autocomplete-dropdown-box-shadow: #{$autocomplete-dropdown-box-shadow},
    --#{$prefix}autocomplete-options-padding-y: #{$autocomplete-options-padding-y},
    --#{$prefix}autocomplete-options-padding-x: #{$autocomplete-options-padding-x},
    --#{$prefix}autocomplete-options-font-size: #{$autocomplete-options-font-size},
    --#{$prefix}autocomplete-options-font-weight: #{$autocomplete-options-font-weight},
    --#{$prefix}autocomplete-options-color: #{$autocomplete-options-color},
    --#{$prefix}autocomplete-optgroup-label-padding-y: #{$autocomplete-optgroup-label-padding-y},
    --#{$prefix}autocomplete-optgroup-label-padding-x: #{$autocomplete-optgroup-label-padding-x},
    --#{$prefix}autocomplete-optgroup-label-font-size: #{$autocomplete-optgroup-label-font-size},
    --#{$prefix}autocomplete-optgroup-label-font-weight: #{$autocomplete-optgroup-label-font-weight},
    --#{$prefix}autocomplete-optgroup-label-color: #{$autocomplete-optgroup-label-color},
    --#{$prefix}autocomplete-optgroup-label-text-transform: #{$autocomplete-optgroup-label-text-transform},
    --#{$prefix}autocomplete-option-padding-y: #{$autocomplete-option-padding-y},
    --#{$prefix}autocomplete-option-padding-x: #{$autocomplete-option-padding-x},
    --#{$prefix}autocomplete-option-margin-y: #{$autocomplete-option-margin-y},
    --#{$prefix}autocomplete-option-margin-x: #{$autocomplete-option-margin-x},
    --#{$prefix}autocomplete-option-border-width: #{$autocomplete-option-border-width},
    --#{$prefix}autocomplete-option-border-color: #{$autocomplete-option-border-color},
    --#{$prefix}autocomplete-option-border-radius: #{$autocomplete-option-border-radius},
    --#{$prefix}autocomplete-option-box-shadow: #{$autocomplete-option-box-shadow},
    --#{$prefix}autocomplete-option-hover-color: #{$autocomplete-option-hover-color},
    --#{$prefix}autocomplete-option-hover-bg: #{$autocomplete-option-hover-bg},
    --#{$prefix}autocomplete-option-focus-box-shadow: #{$autocomplete-option-focus-box-shadow},
    --#{$prefix}autocomplete-option-disabled-color: #{$autocomplete-option-disabled-color},
    --#{$prefix}autocomplete-option-indicator-width: #{$autocomplete-option-indicator-width},
    --#{$prefix}autocomplete-option-indicator-bg: #{$autocomplete-option-indicator-bg},
    --#{$prefix}autocomplete-option-indicator-border: #{$autocomplete-option-indicator-border},
    --#{$prefix}autocomplete-option-indicator-border-radius: #{$autocomplete-option-indicator-border-radius},
    --#{$prefix}autocomplete-option-selected-bg: #{$autocomplete-option-selected-bg},
    --#{$prefix}autocomplete-option-selected-indicator-bg: #{$autocomplete-option-selected-indicator-bg},
    --#{$prefix}autocomplete-option-selected-indicator-bg-image: #{escape-svg($autocomplete-option-selected-indicator-bg-image)},
    --#{$prefix}autocomplete-option-selected-indicator-border-color: #{$autocomplete-option-selected-indicator-border-color},
  ),
  $autocomplete-tokens
);
// scss-docs-end autocomplete-css-vars
@layer components {
  .autocomplete,
  *:not(.autocomplete) > .autocomplete-dropdown {
    @include tokens($autocomplete-tokens);

    position: relative;

    .was-validated .autocomplete:invalid + &,
    &.is-invalid {
      $focus-box-shadow: 0 0 $input-btn-focus-blur $input-focus-width color-mix(in srgb, #{$autocomplete-invalid-border-color} #{math.percentage($input-btn-focus-color-opacity)}, transparent);

      --#{$prefix}control-border-color: #{$autocomplete-invalid-border-color};
      --#{$prefix}control-focus-border-color: #{$autocomplete-invalid-border-color};
      --#{$prefix}control-focus-box-shadow: #{$focus-box-shadow} !important; // stylelint-disable-line declaration-no-important

    }

    .was-validated .autocomplete:valid + &,
    &.is-valid {
      $focus-box-shadow: 0 0 $input-btn-focus-blur $input-focus-width color-mix(in srgb, #{$autocomplete-valid-border-color} #{math.percentage($input-btn-focus-color-opacity)}, transparent);

      --#{$prefix}control-border-color: #{$autocomplete-valid-border-color};
      --#{$prefix}control-focus-border-color: #{$autocomplete-valid-border-color};
      --#{$prefix}control-focus-box-shadow: #{$focus-box-shadow} !important; // stylelint-disable-line declaration-no-important
    }
  }

  .autocomplete-input-group {
    position: relative;
    display: flex;
    flex-wrap: wrap;
    align-items: stretch;
    width: 100%;
    background-color: var(--#{$prefix}control-bg);
    background-clip: padding-box;
    border: var(--#{$prefix}control-border-width) solid var(--#{$prefix}control-border-color);
    @include border-radius(var(--#{$prefix}control-border-radius));

    .autocomplete & {
      @include transition($input-transition);
    }

    .autocomplete.disabled & {
      background-color: var(--#{$prefix}control-disabled-bg);
      border-color: $input-disabled-border-color;
    }

    .autocomplete.show &,
    &:has(*:focus),
    &:focus {
      background-color: var(--#{$prefix}control-focus-bg);
      border-color: var(--#{$prefix}control-focus-border-color);
      @if $enable-shadows {
        box-shadow: var(--#{$prefix}control-box-shadow), var(--#{$prefix}control-focus-box-shadow);
      } @else {
        box-shadow: var(--#{$prefix}control-focus-box-shadow);
      }
    }
  }

  .autocomplete-input {
    position: relative;
    flex: 1 1 auto;
    width: 1%;
    min-width: 0;
    padding: var(--#{$prefix}control-padding-y) var(--#{$prefix}control-padding-x);
    font-family: var(--#{$prefix}control-font-family);
    font-size: var(--#{$prefix}control-font-size);
    font-weight: var(--#{$prefix}control-font-weight);
    line-height: var(--#{$prefix}control-line-height);
    color: var(--#{$prefix}control-color);
    appearance: none;
    background-color: transparent;
    border: 0;

    .autocomplete.show & {
      color: var(--#{$prefix}control-focus-color);
    }

    &:disabled {
      color: var(--#{$prefix}control-disabled-color);
    }

    &:focus {
      color: var(--#{$prefix}control-focus-color);
      outline: 0;
    }

    &::placeholder {
      color: var(--#{$prefix}autocomplete-placeholder-color);
      opacity: 1;
    }
  }

  .autocomplete-input-hint {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    pointer-events: none;
    opacity: .5;
  }

  .autocomplete-buttons {
    display: flex;
    align-items: center;
    min-height: calc(2 * var(--#{$prefix}control-padding-y) + calc(var(--#{$prefix}control-font-size) * var(--#{$prefix}control-line-height)));  // stylelint-disable-line function-disallowed-list
    padding: 0 var(--#{$prefix}control-padding-y);
  }

  .autocomplete-cleaner,
  .autocomplete-indicator {
    position: relative;
    z-index: 2;
    box-sizing: content-box;
    background-color: transparent;
    background-repeat: no-repeat;
    background-position: center;
    border: 0;

    &:focus {
      z-index: 5;
      outline: 0;
      box-shadow: var(--#{$prefix}focus-ring-x, 0) var(--#{$prefix}focus-ring-y, 0) var(--#{$prefix}focus-ring-blur, 0) var(--#{$prefix}focus-ring-width) var(--#{$prefix}focus-ring-color);
      @include border-radius($border-radius);
    }

    &::before {
      position: absolute;
      top: 0;
      left: 0;
      width: 100%;
      height: 100%;
      content: "";
    }
  }

  .autocomplete-cleaner {
    width: var(--#{$prefix}autocomplete-cleaner-width);
    height: var(--#{$prefix}autocomplete-cleaner-height);
    padding: var(--#{$prefix}autocomplete-cleaner-padding-y) var(--#{$prefix}autocomplete-cleaner-padding-x);

    &::before {
      background-color: var(--#{$prefix}autocomplete-cleaner-icon-color);
      mask: var(--#{$prefix}autocomplete-cleaner-icon) center / var(--#{$prefix}autocomplete-cleaner-icon-size) no-repeat;
    }

    &:focus::before,
    &:hover::before {
      background-color: var(--#{$prefix}autocomplete-cleaner-icon-hover-color);
    }
  }

  .autocomplete-indicator {
    width: var(--#{$prefix}autocomplete-indicator-width);
    height: var(--#{$prefix}autocomplete-indicator-height);
    padding: var(--#{$prefix}autocomplete-indicator-padding-y) var(--#{$prefix}autocomplete-indicator-padding-x);
    @include transition(transform .15s ease-in-out);

    &::before {
      background-color: var(--#{$prefix}autocomplete-indicator-icon-color);
      mask: var(--#{$prefix}autocomplete-indicator-icon) center / var(--#{$prefix}autocomplete-indicator-icon-size) no-repeat;
    }

    &:focus::before,
    &:hover::before {
      background-color: var(--#{$prefix}autocomplete-indicator-icon-hover-color);
    }

    .autocomplete.show & {
      transform: rotate(180deg);
    }
  }

  .autocomplete-dropdown {
    position: absolute;
    z-index: var(--#{$prefix}autocomplete-zindex);
    display: none; // none by default, but block on "open" of the menu
    min-width: var(--#{$prefix}autocomplete-dropdown-min-width);
    background-color: var(--#{$prefix}autocomplete-dropdown-bg);
    background-clip: padding-box;
    border: var(--#{$prefix}autocomplete-dropdown-border-width) solid var(--#{$prefix}autocomplete-dropdown-border-color);
    @include border-radius(var(--#{$prefix}autocomplete-dropdown-border-radius));
    @include box-shadow(var(--#{$prefix}autocomplete-dropdown-box-shadow));

    .autocomplete.show &,
    &.show {
      display: block;
    }
  }

  .autocomplete-options {
    padding: var(--#{$prefix}autocomplete-options-padding-y) var(--#{$prefix}autocomplete-options-padding-x);
    font-size: var(--#{$prefix}autocomplete-options-font-size);
    font-weight: var(--#{$prefix}autocomplete-options-font-weight);
    color: var(--#{$prefix}autocomplete-options-color);
  }

  .autocomplete-option {
    position: relative;
    z-index: 2;
    padding: var(--#{$prefix}autocomplete-option-padding-y) var(--#{$prefix}autocomplete-option-padding-x);
    margin: var(--#{$prefix}autocomplete-option-margin-y) var(--#{$prefix}autocomplete-option-margin-x);
    cursor: pointer;
    border: var(--#{$prefix}autocomplete-option-border-width) solid var(--#{$prefix}autocomplete-option-border-color);
    @include border-radius(var(--#{$prefix}autocomplete-option-border-radius), 0);

    &:hover,
    &:focus {
      color: var(--#{$prefix}autocomplete-option-hover-color);
      text-decoration: none;
      background-color: var(--#{$prefix}autocomplete-option-hover-bg);
    }

    &:focus {
      z-index: 5;
      border-color: var(--#{$prefix}input-focus-border-color, $input-focus-border-color);
      outline: 0;
      @if $enable-shadows {
        box-shadow: var(--#{$prefix}control-box-shadow), var(--#{$prefix}control-focus-box-shadow);
      } @else {
        box-shadow: var(--#{$prefix}control-focus-box-shadow);
      }
    }

    &.disabled {
      color: var(--#{$prefix}autocomplete-option-disabled-color);
      pointer-events: none;
      background-color: transparent;
    }

    &.selected {
      background-color: var(--#{$prefix}autocomplete-option-selected-bg);

      &::before {
        background-color: var(--#{$prefix}autocomplete-option-selected-indicator-bg);
        background-image: var(--#{$prefix}autocomplete-option-selected-indicator-bg-image);
        border-color: var(--#{$prefix}autocomplete-option-selected-indicator-border-color);
      }
    }
  }

  .autocomplete-optgroup-label {
    padding: var(--#{$prefix}autocomplete-options-padding-y) var(--#{$prefix}autocomplete-options-padding-x);
    font-size: var(--#{$prefix}autocomplete-optgroup-label-font-size);
    font-weight: var(--#{$prefix}autocomplete-optgroup-label-font-weight);
    color: var(--#{$prefix}autocomplete-optgroup-label-color);
    text-transform: var(--#{$prefix}autocomplete-optgroup-label-text-transform);
  }

  .autocomplete-options-empty {
    padding: var(--#{$prefix}autocomplete-option-padding-y) var(--#{$prefix}autocomplete-option-padding-x);
  }


  .autocomplete-sm {
    --#{$prefix}control-padding-y: #{$autocomplete-padding-y-sm};
    --#{$prefix}control-padding-x: #{$autocomplete-padding-x-sm};
    --#{$prefix}control-font-size: #{$autocomplete-font-size-sm};
    --#{$prefix}control-border-radius: #{$autocomplete-border-radius-sm};
  }

  .autocomplete-lg {
    --#{$prefix}control-padding-y: #{$autocomplete-padding-y-lg};
    --#{$prefix}control-padding-x: #{$autocomplete-padding-x-lg};
    --#{$prefix}control-font-size: #{$autocomplete-font-size-lg};
    --#{$prefix}control-border-radius: #{$autocomplete-border-radius-lg};
  }
}
