@use "functions/defaults" as *;
@use "mixins/gradients" as *;
@use "mixins/tokens" as *;
@use "variables" as *;

// stylelint-disable custom-property-no-missing-var-function

// scss-docs-start badge-variables
$badge-font-size:                   .75em !default;
$badge-font-weight:                 $font-weight-bold !default;
$badge-color:                       $white !default;
$badge-padding-y:                   .35em !default;
$badge-padding-x:                   .65em !default;
$badge-border-radius:               var(--#{$prefix}border-radius) !default;

$badge-font-size-sm:                .65em !default;
$badge-padding-y-sm:                .3em !default;
$badge-padding-x-sm:                .5em !default;
// scss-docs-end badge-variables

$badge-tokens: () !default;

// scss-docs-start badge-css-vars
// stylelint-disable-next-line scss/dollar-variable-default
$badge-tokens: defaults(
  (
    --#{$prefix}badge-padding-x: #{$badge-padding-x},
    --#{$prefix}badge-padding-y: #{$badge-padding-y},
    --#{$prefix}badge-font-weight: #{$badge-font-weight},
    --#{$prefix}badge-color: #{$badge-color},
    --#{$prefix}badge-border-radius: #{$badge-border-radius},
    --#{$prefix}badge-font-size: $badge-font-size,
  ),
  $badge-tokens
);
// scss-docs-end badge-css-vars
@layer components {
  // Base class
  //
  // Requires one of the contextual, color modifier classes for `color` and
  // `background-color`.

  .badge {
    @include tokens($badge-tokens);

    display: inline-block;
    padding: var(--#{$prefix}badge-padding-y) var(--#{$prefix}badge-padding-x);
    font-size: var(--#{$prefix}badge-font-size);
    font-weight: var(--#{$prefix}badge-font-weight);
    line-height: 1;
    color: var(--#{$prefix}badge-color);
    text-align: center;
    white-space: nowrap;
    vertical-align: baseline;
    border-radius: var(--#{$prefix}badge-border-radius, 0); // stylelint-disable-line property-disallowed-list
    @include gradient-bg();

    // Empty badges collapse automatically
    &:empty {
      display: none;
    }
  }

  // Quick fix for badges in buttons
  .btn .badge {
    position: relative;
    top: -1px;
  }

  //
  // Badge Sizes
  //

  .badge-sm {
    --#{$prefix}badge-padding-x: #{$badge-padding-x-sm};
    --#{$prefix}badge-padding-y: #{$badge-padding-y-sm};
    font-size: $badge-font-size-sm;
  }
}
