@use "sass:map";
@use "functions/defaults" as *;
@use "mixins/gradients" as *;
@use "mixins/tokens" as *;
@use "config" as *;

// scss-docs-start badge-variables
$badge-gap:                         .375em !default;
$badge-min-height:                  1.375rem !default;
$badge-padding-y:                   .25em !default;
$badge-padding-x:                   .625em !default;
$badge-font-size:                   .75em !default;
$badge-font-size-floor:             12px !default;
$badge-font-weight:                 var(--#{$prefix}font-weight-semibold) !default;
$badge-color:                       inherit !default;
$badge-bg:                          var(--#{$prefix}bg-4) !default;
$badge-border-width:                var(--#{$prefix}border-width) !default;
$badge-border-color:                transparent !default;
$badge-border-radius:               var(--#{$prefix}border-radius) !default;

$badge-min-height-sm:               1.125rem !default;
$badge-padding-y-sm:                .2em !default;
$badge-padding-x-sm:                .5em !default;
$badge-font-size-sm:                .65em !default;

$badge-min-height-lg:               1.75rem !default;
$badge-padding-y-lg:                .375em !default;
$badge-padding-x-lg:                .875em !default;
$badge-font-size-lg:                .875em !default;
// scss-docs-end badge-variables

$badge-sizes: () !default;

// scss-docs-start badge-sizes
// stylelint-disable-next-line scss/dollar-variable-default
$badge-sizes: defaults(
  (
    "sm": (min-height: $badge-min-height-sm, padding-y: $badge-padding-y-sm, padding-x: $badge-padding-x-sm, font-size: $badge-font-size-sm),
    "lg": (min-height: $badge-min-height-lg, padding-y: $badge-padding-y-lg, padding-x: $badge-padding-x-lg, font-size: $badge-font-size-lg),
  ),
  $badge-sizes
);
// scss-docs-end badge-sizes

$badge-tokens: () !default;

// stylelint-disable custom-property-no-missing-var-function, scss/dollar-variable-default

// scss-docs-start badge-css-vars
$badge-tokens: defaults(
  (
    --#{$prefix}badge-gap: #{$badge-gap},
    --#{$prefix}badge-min-height: #{$badge-min-height},
    --#{$prefix}badge-padding-x: #{$badge-padding-x},
    --#{$prefix}badge-padding-y: #{$badge-padding-y},
    --#{$prefix}badge-font-size: clamp(#{$badge-font-size-floor}, #{$badge-font-size}, #{$badge-font-size}),
    --#{$prefix}badge-font-weight: #{$badge-font-weight},
    --#{$prefix}badge-color: #{$badge-color},
    --#{$prefix}badge-bg: #{$badge-bg},
    --#{$prefix}badge-border-width: #{$badge-border-width},
    --#{$prefix}badge-border-color: #{$badge-border-color},
    --#{$prefix}badge-border-radius: #{$badge-border-radius},
  ),
  $badge-tokens
);
// scss-docs-end badge-css-vars

// scss-docs-start badge-variants
$badge-variants: (
  "subtle": (
    "color": "fg",
    "bg": "bg-subtle",
    "border-color": "transparent"
  ),
  "outline": (
    "color": "fg",
    "bg": "transparent",
    "border-color": "border"
  )
) !default;
// scss-docs-end badge-variants

// stylelint-enable custom-property-no-missing-var-function, scss/dollar-variable-default

@layer components {
  .badge {
    @include tokens($badge-tokens);

    display: inline-flex;
    gap: var(--#{$prefix}badge-gap);
    align-items: center;
    justify-content: center;
    min-height: var(--#{$prefix}badge-min-height);
    padding: var(--#{$prefix}badge-padding-y) var(--#{$prefix}badge-padding-x);
    font-size: var(--#{$prefix}badge-font-size);
    font-weight: var(--#{$prefix}badge-font-weight);
    line-height: 1;
    color: var(--#{$prefix}theme-contrast, var(--#{$prefix}badge-color));
    text-align: center;
    text-decoration: none;
    white-space: nowrap;
    vertical-align: baseline;
    border: var(--#{$prefix}badge-border-width) solid var(--#{$prefix}badge-border-color);
    border-radius: var(--#{$prefix}badge-border-radius, 0); // stylelint-disable-line property-disallowed-list
    @include gradient-bg(var(--#{$prefix}theme-bg, var(--#{$prefix}badge-bg)));

    // Empty badges collapse automatically
    &:empty {
      display: none;
    }
  }

  // Quick fix for badges in buttons
  .btn .badge {
    position: relative;
    top: -1px;
  }

  // scss-docs-start badge-modifiers
  @each $variant, $properties in $badge-variants {
    .badge-#{$variant} {
      @each $property, $value in $properties {
        @if $value == "transparent" {
          --#{$prefix}badge-#{$property}: transparent;
        } @else {
          --#{$prefix}badge-#{$property}: var(--#{$prefix}theme-#{$value});
        }
      }

      color: var(--#{$prefix}badge-color);
      border-color: var(--#{$prefix}badge-border-color);
      @include gradient-bg(var(--#{$prefix}badge-bg));
    }
  }
  // scss-docs-end badge-modifiers

  // scss-docs-start badge-sizes-loop
  @each $size, $values in $badge-sizes {
    .badge-#{$size} {
      --#{$prefix}badge-min-height: #{map.get($values, min-height)};
      --#{$prefix}badge-padding-x: #{map.get($values, padding-x)};
      --#{$prefix}badge-padding-y: #{map.get($values, padding-y)};
      --#{$prefix}badge-font-size: clamp(#{$badge-font-size-floor}, #{map.get($values, font-size)}, #{map.get($values, font-size)});
    }
  }
  // scss-docs-end badge-sizes-loop
}
