@use "functions/defaults" as *;
@use "mixins/tokens" as *;
@use "variables" as *;

// scss-docs-start chip-set-variables
$chip-set-gap: .25rem !default;
// scss-docs-end chip-set-variables

$chip-set-tokens: () !default;

// scss-docs-start chip-set-css-vars
// stylelint-disable-next-line scss/dollar-variable-default
$chip-set-tokens: defaults(
  (
    --#{$prefix}chip-set-gap: #{$chip-set-gap},
  ),
  $chip-set-tokens
);
// scss-docs-end chip-set-css-vars
@layer components {
  .chip-set {
    @include tokens($chip-set-tokens);

    display: flex;
    flex-wrap: wrap;
    gap: var(--#{$prefix}chip-set-gap);
  }
}
