@use "functions/defaults" as *;
@use "mixins/border-radius" as *;
@use "mixins/chip" as *;
@use "mixins/focus-ring" as *;
@use "mixins/tokens" as *;
@use "mixins/transition" as *;
@use "config" as *;

$chip-tokens: () !default;

// stylelint-disable scss/dollar-variable-default

// scss-docs-start chip-tokens
$chip-tokens: defaults(
  (
    --#{$prefix}chip-height: 1.75rem,
    --#{$prefix}chip-padding-x: .625rem,
    --#{$prefix}chip-gap: .3125rem,
    --#{$prefix}chip-font-size: .875rem,
    --#{$prefix}chip-font-weight: var(--#{$prefix}font-weight-normal),
    --#{$prefix}chip-border-radius: var(--#{$prefix}radius-pill),
    --#{$prefix}chip-img-size: 1.25rem,
    --#{$prefix}chip-img-border-radius: 50%,
    --#{$prefix}chip-icon-size: 1rem,
    --#{$prefix}chip-remove-size: 1rem,
    --#{$prefix}chip-remove-opacity: .65,
    --#{$prefix}chip-remove-hover-opacity: 1,
    --#{$prefix}chip-disabled-opacity: .65,
    --#{$prefix}chip-active-opacity: .9,
    --#{$prefix}chip-transition: #{background-color .15s ease-in-out, border-color .15s ease-in-out, box-shadow .15s ease-in-out, color .15s ease-in-out},
    --#{$prefix}chip-color: var(--#{$prefix}theme-fg-emphasis, var(--#{$prefix}fg-body)),
    --#{$prefix}chip-bg: var(--#{$prefix}theme-bg-subtle, var(--#{$prefix}bg-2)),
    --#{$prefix}chip-border-width: var(--#{$prefix}border-width),
    --#{$prefix}chip-border-color: transparent,
    --#{$prefix}chip-active-color: var(--#{$prefix}theme-contrast, var(--#{$prefix}primary-contrast)),
    --#{$prefix}chip-active-bg: var(--#{$prefix}theme-bg, var(--#{$prefix}primary-base)),
    --#{$prefix}chip-active-border-color: transparent,
    --#{$prefix}chip-hover-color: var(--#{$prefix}theme-fg-emphasis, var(--#{$prefix}fg-body)),
    --#{$prefix}chip-hover-bg: var(--#{$prefix}theme-bg-muted, var(--#{$prefix}bg-3)),
    --#{$prefix}chip-hover-border-color: transparent,
  ),
  $chip-tokens
);
// scss-docs-end chip-tokens

// stylelint-enable scss/dollar-variable-default

$chip-outline-tokens: () !default;

// stylelint-disable scss/dollar-variable-default

// scss-docs-start chip-outline-tokens
$chip-outline-tokens: defaults(
  (
    --#{$prefix}chip-color: var(--#{$prefix}theme-fg, var(--#{$prefix}fg-body)),
    --#{$prefix}chip-bg: transparent,
    --#{$prefix}chip-border-color: var(--#{$prefix}theme-bg, var(--#{$prefix}border-color)),
    --#{$prefix}chip-hover-bg: var(--#{$prefix}theme-bg-subtle, var(--#{$prefix}bg-3)),
    --#{$prefix}chip-hover-color: var(--#{$prefix}theme-fg-emphasis, var(--#{$prefix}fg-body)),
    --#{$prefix}chip-hover-border-color: var(--#{$prefix}theme-bg, var(--#{$prefix}border-color)),
    --#{$prefix}chip-active-bg: var(--#{$prefix}theme-bg, var(--#{$prefix}primary-base)),
    --#{$prefix}chip-active-color: var(--#{$prefix}theme-contrast, var(--#{$prefix}primary-contrast)),
  ),
  $chip-outline-tokens
);
// scss-docs-end chip-outline-tokens

// stylelint-enable scss/dollar-variable-default
@layer components {
  .chip {
    @include tokens($chip-tokens);

    display: inline-flex;
    gap: var(--#{$prefix}chip-gap);
    align-items: center;
    height: var(--#{$prefix}chip-height);
    padding-inline: var(--#{$prefix}chip-padding-x);
    font-size: var(--#{$prefix}chip-font-size);
    font-weight: var(--#{$prefix}chip-font-weight);
    color: var(--#{$prefix}chip-color);
    text-decoration: none;
    white-space: nowrap;
    vertical-align: middle;
    background-color: var(--#{$prefix}chip-bg);
    border: var(--#{$prefix}chip-border-width) solid var(--#{$prefix}chip-border-color);
    @include border-radius(var(--#{$prefix}chip-border-radius));
    @include transition(var(--#{$prefix}chip-transition));

    &.active {
      color: var(--#{$prefix}chip-active-color);
      background-color: var(--#{$prefix}chip-active-bg);
      border-color: var(--#{$prefix}chip-active-border-color);
    }

    &.disabled,
    &:disabled {
      pointer-events: none;
      opacity: var(--#{$prefix}chip-disabled-opacity);
    }

    &:focus-visible {
      @include focus-ring();
    }

    .avatar {
      --#{$prefix}avatar-size: var(--#{$prefix}chip-img-size);

      font-size: inherit;

      &:first-child {
        margin-inline-start: -.375rem;
      }
    }
  }

  .chip-outline {
    @include tokens($chip-outline-tokens);
  }

  .chip-clickable {
    cursor: pointer;

    &:hover {
      color: var(--#{$prefix}chip-hover-color);
      background-color: var(--#{$prefix}chip-hover-bg);
      border-color: var(--#{$prefix}chip-hover-border-color);
    }

    &.active:hover {
      color: var(--#{$prefix}chip-active-color);
      background-color: var(--#{$prefix}chip-active-bg);
      opacity: var(--#{$prefix}chip-active-opacity);
    }
  }

  .chip-img {
    width: var(--#{$prefix}chip-img-size);
    height: var(--#{$prefix}chip-img-size);
    @include border-radius(var(--#{$prefix}chip-img-border-radius));

    &:first-child {
      margin-inline-start: -.375rem;
    }
  }

  .chip-icon {
    display: flex;
    flex-shrink: 0;
    align-items: center;
    justify-content: center;
    margin-inline-start: calc(var(--#{$prefix}chip-gap) * -.25);

    > svg {
      display: block;
      width: var(--#{$prefix}chip-icon-size);
      height: var(--#{$prefix}chip-icon-size);
    }

    > img {
      width: var(--#{$prefix}chip-icon-size);
      height: var(--#{$prefix}chip-icon-size);
      object-fit: cover;
      @include border-radius(var(--#{$prefix}chip-img-border-radius));
    }
  }

  .chip-check {
    display: flex;
    flex-shrink: 0;
    align-items: center;
    justify-content: center;
    margin-inline-start: calc(var(--#{$prefix}chip-gap) * -.25);

    > svg {
      display: block;
      width: var(--#{$prefix}chip-icon-size);
      height: var(--#{$prefix}chip-icon-size);
    }
  }

  .chip-remove {
    display: flex;
    flex-shrink: 0;
    align-items: center;
    justify-content: center;
    width: var(--#{$prefix}chip-remove-size);
    height: var(--#{$prefix}chip-remove-size);
    padding: 0;
    margin-inline-end: calc(var(--#{$prefix}chip-padding-x) * -.25);
    color: inherit;
    cursor: pointer;
    background: transparent;
    border: 0;
    opacity: var(--#{$prefix}chip-remove-opacity);
    @include transition(opacity .15s ease-in-out);

    &:hover {
      opacity: var(--#{$prefix}chip-remove-hover-opacity);
    }

    &:focus-visible {
      @include focus-ring();
      opacity: 1;
    }

    > svg {
      display: block;
      width: var(--#{$prefix}chip-remove-size);
      height: var(--#{$prefix}chip-remove-size);
    }
  }

  .chip-lg,
  .chip-input-lg .chip,
  .form-control-group.form-control-lg .chip {
    @include chip-size(
      2rem,
      .75rem,
      .375rem,
      1rem,
      1.5rem,
      1.25rem,
      1.25rem
    );
  }

  .chip-sm,
  .chip-input-sm .chip,
  .form-control-group.form-control-sm .chip {
    @include chip-size(
      1.5rem,
      .625rem,
      .25rem,
      .75rem,
      1rem,
      .875rem,
      .875rem
    );
  }
}
