@use "functions/defaults" as *;
@use "mixins/tokens" as *;
@use "config" as *;

$chip-set-tokens: () !default;

// stylelint-disable scss/dollar-variable-default

// scss-docs-start chip-set-css-vars
$chip-set-tokens: defaults(
  (
    --#{$prefix}chip-set-gap: .25rem,
  ),
  $chip-set-tokens
);
// scss-docs-end chip-set-css-vars

// stylelint-enable scss/dollar-variable-default
@layer components {
  .chip-set {
    @include tokens($chip-set-tokens);

    display: flex;
    flex-wrap: wrap;
    gap: var(--#{$prefix}chip-set-gap);
  }
}
