@use "functions/defaults" as *;
@use "mixins/icon" as *;
@use "mixins/tokens" as *;
@use "config" as *;

$icon-tokens: () !default;

// stylelint-disable scss/dollar-variable-default

// scss-docs-start icon-tokens
$icon-tokens: defaults(
  (
    --#{$prefix}icon-size-sm: calc(var(--#{$prefix}icon-size-base) * .875),
    --#{$prefix}icon-size-lg: calc(var(--#{$prefix}icon-size-base) * 1.25),
    --#{$prefix}icon-size-xl: calc(var(--#{$prefix}icon-size-base) * 1.5),
    --#{$prefix}icon-size-xxl: calc(var(--#{$prefix}icon-size-base) * 2),
  ),
  $icon-tokens
);
// scss-docs-end icon-tokens

// stylelint-enable scss/dollar-variable-default

@layer components {
  .icon {
    @include tokens($icon-tokens);

    display: inline-block;
    color: inherit;
    text-align: center;
    vertical-align: -.125rem; // Fix the position of icon
    fill: currentcolor;
    &:not(.icon-c-s, .icon-custom-size) {
      @include icon-size(var(--#{$prefix}icon-size-base));

      &.icon-xxl {
        @include icon-size(var(--#{$prefix}icon-size-xxl));
      }

      &.icon-xl {
        @include icon-size(var(--#{$prefix}icon-size-xl));
      }

      &.icon-lg {
        @include icon-size(var(--#{$prefix}icon-size-lg));
      }

      &.icon-sm {
        @include icon-size(var(--#{$prefix}icon-size-sm));
      }

      @for $i from 3 through 9 {
        &.icon-#{$i}xl {
          @include icon-size(calc(#{$i} * var(--#{$prefix}icon-size-base)));
        }
      }
    }
  }
}
