@use "mixins/icon" as *;
@use "config" as *;

$icon-size-sm:    calc(var(--#{$prefix}icon-size-base) * .875) !default;
$icon-size-lg:    calc(var(--#{$prefix}icon-size-base) * 1.25) !default;
$icon-size-xl:    calc(var(--#{$prefix}icon-size-base) * 1.5) !default;
$icon-size-xxl:   calc(var(--#{$prefix}icon-size-base) * 2) !default;


@layer components {
  .icon {
    display: inline-block;
    color: inherit;
    text-align: center;
    vertical-align: -.125rem; // Fix the position of icon
    fill: currentcolor;
    &:not(.icon-c-s, .icon-custom-size) {
      @include icon-size(var(--#{$prefix}icon-size-base));

      &.icon-xxl {
        @include icon-size($icon-size-xxl);
      }

      &.icon-xl {
        @include icon-size($icon-size-xl);
      }

      &.icon-lg {
        @include icon-size($icon-size-lg);
      }

      &.icon-sm {
        @include icon-size($icon-size-sm);
      }

      @for $i from 3 through 9 {
        &.icon-#{$i}xl {
          @include icon-size(calc(#{$i} * var(--#{$prefix}icon-size-base)));
        }
      }
    }
  }
}
