//
// Loading button
//

.c-loading-button {
  position: relative;
  overflow: hidden;
}

.c-loading-button-progress {
  position: absolute;
  top: 0;
  left: 0;
  width: 0%;
  height: 100%;
  background: rgba(0, 0, 0, .1);
}

.c-loading-button-spinner {
  width: 0;
  margin-right: 0;
  opacity: 0;
  transition: margin $layout-transition-speed, opacity $layout-transition-speed, border $layout-transition-speed;
}

.c-loading-button-loading {

  .c-loading-button-spinner {
    width: 1rem;
    margin-right: $spacer;
    opacity: 1;
  }
}
