@use "functions/defaults" as *;
@use "mixins/border-radius" as *;
@use "mixins/box-shadow" as *;
@use "mixins/tokens" as *;
@use "mixins/transition" as *;
@use "config" as *;

// scss-docs-start popup-variables
$popup-zindex:              var(--#{$prefix}z-dropdown) !default;
$popup-bg:                  var(--#{$prefix}bg-body) !default;
$popup-border-width:        var(--#{$prefix}border-width) !default;
$popup-border-color:        var(--#{$prefix}border-color) !default;
$popup-border-radius:       var(--#{$prefix}radius-7) !default;
$popup-box-shadow:          var(--#{$prefix}box-shadow) !default;
$popup-transition-duration: .15s !default;
$popup-transition-timing:   var(--#{$prefix}transition-timing-overlay) !default;
// scss-docs-end popup-variables

// stylelint-disable scss/dollar-variable-default

// scss-docs-start popup-tokens
$popup-tokens: () !default;
$popup-tokens: defaults(
  (
    --#{$prefix}popup-zindex: #{$popup-zindex},
    --#{$prefix}popup-bg: #{$popup-bg},
    --#{$prefix}popup-border-width: #{$popup-border-width},
    --#{$prefix}popup-border-color: #{$popup-border-color},
    --#{$prefix}popup-border-radius: #{$popup-border-radius},
    --#{$prefix}popup-box-shadow: #{$popup-box-shadow},
    --#{$prefix}popup-transition-duration: #{$popup-transition-duration},
    --#{$prefix}popup-transition-timing: #{$popup-transition-timing},
  ),
  $popup-tokens
);
// scss-docs-end popup-tokens

// stylelint-enable scss/dollar-variable-default

@layer components {
  .popup {
    @include tokens($popup-tokens);

    position: absolute;
    z-index: var(--#{$prefix}popup-zindex);
    display: none;
    background-color: var(--#{$prefix}popup-bg);
    background-clip: padding-box;
    border: var(--#{$prefix}popup-border-width) solid var(--#{$prefix}popup-border-color);
    @include border-radius(var(--#{$prefix}popup-border-radius));
    opacity: 0;
    @include box-shadow(var(--#{$prefix}popup-box-shadow));

    //
    @include transition(
      opacity var(--#{$prefix}popup-transition-duration) var(--#{$prefix}popup-transition-timing),
      display var(--#{$prefix}popup-transition-duration) allow-discrete
    );

    &.show {
      display: block;
      opacity: 1;
    }
  }

  @starting-style {
    .popup.show {
      opacity: 0;
    }
  }
}
