@use "functions/defaults" as *;
@use "mixins/border-radius" as *;
@use "mixins/box-shadow" as *;
@use "mixins/tokens" as *;
@use "mixins/transition" as *;
@use "config" as *;

// stylelint-disable scss/dollar-variable-default

// scss-docs-start popup-tokens
$popup-tokens: () !default;
$popup-tokens: defaults(
  (
    --#{$prefix}popup-zindex: var(--#{$prefix}z-dropdown),
    --#{$prefix}popup-bg: var(--#{$prefix}bg-body),
    --#{$prefix}popup-border-width: var(--#{$prefix}border-width),
    --#{$prefix}popup-border-color: var(--#{$prefix}border-color),
    --#{$prefix}popup-border-radius: var(--#{$prefix}radius-7),
    --#{$prefix}popup-box-shadow: var(--#{$prefix}box-shadow),
    --#{$prefix}popup-transition-duration: .15s,
    --#{$prefix}popup-transition-timing: var(--#{$prefix}transition-timing-overlay),
  ),
  $popup-tokens
);
// scss-docs-end popup-tokens

// stylelint-enable scss/dollar-variable-default

@layer components {
  .popup {
    @include tokens($popup-tokens);

    position: absolute;
    z-index: var(--#{$prefix}popup-zindex);
    display: none;
    background-color: var(--#{$prefix}popup-bg);
    background-clip: padding-box;
    border: var(--#{$prefix}popup-border-width) solid var(--#{$prefix}popup-border-color);
    @include border-radius(var(--#{$prefix}popup-border-radius));
    opacity: 0;
    @include box-shadow(var(--#{$prefix}popup-box-shadow));

    @include transition(
      opacity var(--#{$prefix}popup-transition-duration) var(--#{$prefix}popup-transition-timing),
      display var(--#{$prefix}popup-transition-duration) allow-discrete
    );

    &.show {
      display: block;
      opacity: 1;
    }
  }

  @starting-style {
    .popup.show {
      opacity: 0;
    }
  }
}
