@use "sass:map";
@use "functions/defaults" as *;
@use "functions/escape-svg" as *;
@use "mixins/tokens" as *;
@use "mixins/transition" as *;
@use "config" as *;

// stylelint-disable custom-property-no-missing-var-function

// Rating
// scss-docs-start rating-variables
$rating-gap:                   .0625rem !default;
$rating-transition:            color .15s ease-out, transform .15s ease-out !default;
$rating-item-height-sm:        1rem !default;
$rating-item-height:           1.25rem !default;
$rating-item-height-lg:        1.5rem !default;
$rating-item-color:            var(--#{$prefix}fg-3) !default;
$rating-item-scale-transform:  scale(1.2) !default;
$rating-item-active-color:     var(--#{$prefix}warning) !default;
$rating-item-icon:             url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 512 512'%3E%3Cpath fill='currentColor' d='M470.935,194.043,333.8,171.757,270.227,48.22a16,16,0,0,0-28.454,0L178.2,171.757,41.065,194.043A16,16,0,0,0,32.273,221.1l97.845,98.636L108.936,457.051a16,16,0,0,0,23.02,16.724L256,411.2l124.044,62.576a16,16,0,0,0,23.02-16.724L381.882,319.74,479.727,221.1A16,16,0,0,0,470.935,194.043Z'%3E%3C/path%3E%3C/svg%3E") !default;
// scss-docs-end rating-variables

$rating-sizes: () !default;

// scss-docs-start rating-sizes
// stylelint-disable-next-line scss/dollar-variable-default
$rating-sizes: defaults(
  (
    "sm": (item-height: $rating-item-height-sm),
    "lg": (item-height: $rating-item-height-lg),
  ),
  $rating-sizes
);
// scss-docs-end rating-sizes

$rating-tokens: () !default;

// stylelint-disable scss/dollar-variable-default

// scss-docs-start rating-css-vars
$rating-tokens: defaults(
  (
    --#{$prefix}rating-gap: #{$rating-gap},
    --#{$prefix}rating-transition: #{$rating-transition},
    --#{$prefix}rating-item-height: #{$rating-item-height},
    --#{$prefix}rating-item-color: #{$rating-item-color},
    --#{$prefix}rating-item-scale-transform: #{$rating-item-scale-transform},
    --#{$prefix}rating-item-active-color: #{$rating-item-active-color},
    --#{$prefix}rating-item-icon: #{escape-svg($rating-item-icon)},
  ),
  $rating-tokens
);
// scss-docs-end rating-css-vars

// stylelint-enable scss/dollar-variable-default
@layer components {
  .rating {
    @include tokens($rating-tokens);

    display: flex;
    gap: var(--#{$prefix}rating-gap);

    &.disabled {
      opacity: 50%;
    }

    &:not(.disabled, .readonly) {
      .rating-item:hover {
        transform: var(--#{$prefix}rating-item-scale-transform);
      }

      .rating-item-icon,
      .rating-item-label {
        cursor: pointer;
      }
    }
  }

  .rating-item {
    position: relative;
    line-height: 0;
    @include transition(var(--#{$prefix}rating-transition));
  }

  .rating-item-input {
    position: absolute;
    left: 0;
    z-index: -1;
    width: 100%;
    height: 100%;
    appearance: none;

  }

  .rating-item-label {
    font-size: var(--#{$prefix}rating-item-height);
    line-height: 0;
    color: var(--#{$prefix}rating-item-color);

    * {
      pointer-events: none;
    }

    svg {
      height: var(--#{$prefix}rating-item-height);
      pointer-events: none;

      * {
        pointer-events: none;
      }
    }

    &.active {
      color: var(--#{$prefix}rating-item-active-color);
      opacity: 1 !important; // stylelint-disable-line declaration-no-important

      .rating-item-icon {
        background-color: var(--#{$prefix}rating-item-active-color);
      }

      .rating-item-custom-icon:has(+ .rating-item-custom-icon-active) {
        display: none;
      }

      .rating-item-custom-icon-active {
        display: initial;
      }
    }
  }

  .rating-item-icon {
    width: var(--#{$prefix}rating-item-height);
    height: var(--#{$prefix}rating-item-height);
    background-color: var(--#{$prefix}rating-item-color);
    mask: var(--#{$prefix}rating-item-icon) center / var(--#{$prefix}rating-item-height) no-repeat;
  }

  .rating-item-custom-icon-active {
    display: none;
  }

  // scss-docs-start rating-sizes-loop
  @each $size, $values in $rating-sizes {
    .rating-#{$size} {
      --#{$prefix}rating-item-height: #{map.get($values, item-height)};
    }
  }
  // scss-docs-end rating-sizes-loop
}
