//
// Multi select
//

// .c-select
// .c-select-search
// .c-select-tags
// .c-select-option
// .c-select-options
// .c-select-optgroup
// .c-select-optgroup-label

.c-select {
  position: relative;
  display: inline-block;
  width: 100%;
  min-height: $c-select-height;
  padding: $c-select-padding-y ($c-select-padding-x + $c-select-indicator-padding) $c-select-padding-y $c-select-padding-x;
  font-family: $c-select-font-family;
  font-size: $c-select-font-size;
  font-weight: $c-select-font-weight;
  line-height: $c-select-line-height;
  vertical-align: middle;
  border: $c-select-border-width solid;
  @include border-radius($c-select-border-radius, 0);
  // @include box-shadow($custom-select-box-shadow);
  appearance: none;
  @include themes($c-select-theme-map) {
    color: themes-get-value("c-select-color");
    background: themes-get-value("c-select-bg") themes-get-value("c-select-background");
    border-color: themes-get-value("c-select-border-color");
  }

  &:disabled,
  &.c-disabled {
    @include themes($c-select-theme-map) {
      color: themes-get-value("c-select-disabled-color");
      background-color: themes-get-value("c-select-disabled-bg");
    }
  }
}

.c-select-selection-tags {
  padding: 2px ($c-select-padding-x + $c-select-indicator-padding) 2px 2px;

  &:not(.c-select-inline) {
    .c-select-search {
      height: $c-select-tag-height + 4px;
      margin-left: $c-select-padding-x;

      &[size] {
        height: $c-select-tag-height;
      }
    }
  }
}

.c-select-selection {
  display: inline;
  padding: 0;
}

.c-select-search {
  max-width: 100%;
  padding: 0;
  font-family: inherit;
  font-size: inherit;
  font-weight: inherit;
  line-height: inherit;
  border: 0;
  appearance: none;

  @include border-radius($c-select-search-border-radius, 0);

  @include themes($c-select-theme-map) {
    color: themes-get-value("c-select-search-color");
    background-color: themes-get-value("c-select-search-bg");
  }

  &:focus {
    outline: 0;
  }

  &[size] {
    display: none;
    margin-left: $c-select-padding-x;
  }
}

.c-select-options {
  position: absolute;
  top: 100%;
  left: 0;
  display: none; // none by default, but block on "open" of the menu
  float: left;
  width: 100%;
  padding: $c-select-options-padding-y $c-select-options-padding-x;
  margin-top: $c-select-options-margin-top;
  font-size: $c-select-options-font-size;
  text-align: left; // Ensures proper alignment if parent has it changed (e.g., modal footer)
  background-clip: padding-box;
  border: $c-select-options-border-width solid;
  @include border-radius($c-select-options-border-radius);
  // @include box-shadow($dropdown-box-shadow);

  @include themes($c-select-theme-map) {
    color: themes-get-value("c-select-options-color");
    background-color: themes-get-value("c-select-options-bg");
    border-color: themes-get-value("c-select-options-border-color");
  }
  @include elevation(4);
}

.c-select-option {
  position: relative;
  padding: $c-select-option-padding-y $c-select-option-padding-x $c-select-option-padding-y ($c-select-option-padding-x + $c-select-indicator-size);
  // padding-left: 2rem !important;
  margin-bottom: 2px;
  vertical-align: top;
  cursor: pointer;

  @include border-radius($c-select-option-border-radius, 0);

  @include hover-focus() {
    text-decoration: none;
    // @include gradient-bg($dropdown-link-hover-bg);

    @include themes($c-select-theme-map) {
      color: themes-get-value("c-select-option-hover-color");
      @include gradient-bg(themes-get-value("c-select-option-hover-bg"));
    }
  }

  &.disabled,
  &:disabled {
    pointer-events: none;
    background-color: transparent;
    // Remove CSS gradients if they're enabled
    @if $enable-gradients {
      background-image: none;
    }

    @include themes($c-select-theme-map) {
      color: themes-get-value("c-select-option-disabled-color");
    }
  }

  &::before {
    position: absolute;
    top: .7rem;
    @include ltr {
      left: $c-select-option-padding-x / 2;
    }
    @include rtl {
      right: $c-select-option-padding-x / 2;
    }
    display: block;
    width: $c-select-indicator-size;
    height: $c-select-indicator-size;
    pointer-events: none;
    content: "";
    border: solid $c-select-indicator-border-width;

    @include themes($c-select-theme-map) {
      background-color: themes-get-value("c-select-indicator-bg");
      border-color: themes-get-value("c-select-indicator-border-color");
    }
    @include border-radius($c-select-checkbox-indicator-border-radius);
  }

  &::after {
    position: absolute;
    top: .7rem;
    @include ltr {
      left: $c-select-option-padding-x / 2;
    }
    @include rtl {
      right: $c-select-option-padding-x / 2;
    }
    display: block;
    width: $c-select-indicator-size;
    height: $c-select-indicator-size;
    content: "";
    background: no-repeat 50% / #{$c-select-indicator-bg-size};
  }

  &.c-selected {
    @include themes($c-select-theme-map) {
      background-color: themes-get-value("c-select-option-selected-bg");
    }
    &::before {
      @include themes($c-select-theme-map) {
        color: themes-get-value("c-select-option-indicator-checked-color");
        border-color: themes-get-value("c-select-option-indicator-checked-border-color");
        @include gradient-bg(themes-get-value("c-select-option-indicator-checked-bg"));
      }
    }
    &::after {
      @include themes($c-select-theme-map) {
        background-image: escape-svg(themes-get-value("c-select-option-checkbox-indicator-icon-checked"));
      }
    }
  }
}

.c-select-optgroup-label {
  padding: $c-select-option-padding-y ($c-select-option-padding-x / 2);
  font-weight: $c-select-optgroup-label-font-weight;
}

.c-select-options-empty{
  padding: $c-select-option-padding-y $c-select-option-padding-x;
}


.c-select-tag {
  display: inline-block;
  height: $c-select-tag-height;
  padding: $c-select-tag-padding-y $c-select-tag-padding-x;
  margin: $c-select-tag-margin;
  border: $c-select-tag-border-width solid;
  border-radius: $c-select-tag-border-radius;

  @include themes($c-select-theme-map) {
    background-color: themes-get-value("c-select-tag-bg");
    border-color: themes-get-value("c-select-tag-border-color");
  }
}

.c-select-tag-delete {
  margin-left: 6px;
  cursor: pointer;
}

.c-select.c-show {

  @include themes($c-select-theme-map) {
    color: themes-get-value("c-select-focus-color");
    background-color: themes-get-value("c-select-focus-bg");
    border-color: themes-get-value("c-select-focus-border-color");
  }

  @if $enable-shadows {
    @include box-shadow($c-select-box-shadow, $c-select-focus-box-shadow);
  } @else {
    // Avoid using mixin so we can pass custom focus shadow properly
    box-shadow: $c-select-focus-box-shadow;
  }

  .c-select-search[size] {
    display: inline;
  }

  .c-select-options {
    z-index: $zindex-dropdown;
    display: initial;
  }
}


.c-select-inline {
  padding: $custom-select-padding-y;
  @include themes($c-select-theme-map) {
    background: themes-get-value("c-select-bg");
  }

  .c-select-selection{
    display: block;
    margin-bottom: $c-select-padding-y;
  }

  &:not(.c-select-selection-tags) {
    .c-select-selection{
      padding: $c-select-padding-y;
    }
  }

  .c-select-search {
    width: 100%;
    padding: $c-select-padding-y $c-select-padding-x;
    border: $c-select-search-border-width solid;
    @include themes($c-select-theme-map) {
      border-color: themes-get-value("c-select-search-border-color");
    }
  }
  .c-select-options {
    position: relative;
    z-index: 1;
    display: block;
    padding: 0;
    @include elevation(0);
  }
}
