// stylelint-disable selector-max-class
.sidebar.sidebar-double {
  flex: 0 0 $sidebar-width + 50px;
  width: $sidebar-width + 50px;
  &::after {
    position: absolute;
    z-index: -1;
    width: 50px;
    height: 100%;
    content: "";
    background: darken($sidebar-bg, 10%);
  }
  .nav-dropdown-toggle {
    width: 50px;
    background: darken($sidebar-bg, 10%);
  }
  .nav-dropdown-items {
    position: absolute;
    top: 0;
    left: 50px;
    display: none;
    width: 100px;
    max-height: initial;

    .nav-item {
      padding: 0;
      list-style: none;
    }
  }
  .nav-dropdown.open {
    .nav-dropdown-items {
      display: block;
    }
  }
}
