@use "functions/defaults" as *;
@use "mixins/tokens" as *;
@use "config" as *;

// stylelint-disable custom-property-no-missing-var-function

// scss-docs-start spinner-variables
$spinner-width:                            1em !default;
$spinner-height:                           $spinner-width !default;
$spinner-border-width:                     .125em !default;
$spinner-animation-speed:                  1s !default;
$spinner-animation-timing-function:        linear !default;
$spinner-grow-animation-timing-function:   ease-in-out !default;

$spinner-width-sm:                         .75em !default;
$spinner-height-sm:                        $spinner-width-sm !default;

$spinner-reduced-motion-animation-speed:   $spinner-animation-speed * 1.5 !default;
// scss-docs-end spinner-variables

$spinner-border-tokens: () !default;

// stylelint-disable scss/dollar-variable-default

// scss-docs-start spinner-border-css-vars
$spinner-border-tokens: defaults(
  (
    --#{$prefix}spinner-width: #{$spinner-width},
    --#{$prefix}spinner-height: #{$spinner-height},
    --#{$prefix}spinner-border-width: #{$spinner-border-width},
    --#{$prefix}spinner-animation-speed: #{$spinner-animation-speed},
    --#{$prefix}spinner-animation-timing-function: #{$spinner-animation-timing-function},
    --#{$prefix}spinner-animation-name: spinner-border,
  ),
  $spinner-border-tokens
);
// scss-docs-end spinner-border-css-vars

// stylelint-enable scss/dollar-variable-default

$spinner-grow-tokens: () !default;

// stylelint-disable scss/dollar-variable-default

// scss-docs-start spinner-grow-css-vars
$spinner-grow-tokens: defaults(
  (
    --#{$prefix}spinner-width: #{$spinner-width},
    --#{$prefix}spinner-height: #{$spinner-height},
    --#{$prefix}spinner-animation-speed: #{$spinner-animation-speed},
    --#{$prefix}spinner-animation-timing-function: #{$spinner-grow-animation-timing-function},
    --#{$prefix}spinner-animation-name: spinner-grow,
  ),
  $spinner-grow-tokens
);
// scss-docs-end spinner-grow-css-vars

// stylelint-enable scss/dollar-variable-default
@layer components {
  // Assumes a flex parent
  .spinner-grow,
  .spinner-border {
    display: inline-flex;
    flex-shrink: 0;
    width: var(--#{$prefix}spinner-width);
    height: var(--#{$prefix}spinner-height);
    // stylelint-disable-next-line property-disallowed-list
    border-radius: 50%;
    animation: var(--#{$prefix}spinner-animation-speed) var(--#{$prefix}spinner-animation-timing-function) infinite var(--#{$prefix}spinner-animation-name);
  }

  // scss-docs-start spinner-border-keyframes
  @keyframes spinner-border {
    to { transform: rotate(360deg); }
  }
  // scss-docs-end spinner-border-keyframes

  .spinner-border {
    @include tokens($spinner-border-tokens);

    border: var(--#{$prefix}spinner-border-width) solid currentcolor;
    border-inline-end-color: transparent;
  }

  .spinner-sm {
    // scss-docs-start spinner-sm-css-vars
    --#{$prefix}spinner-width: #{$spinner-width-sm};
    --#{$prefix}spinner-height: #{$spinner-height-sm};
    // scss-docs-end spinner-sm-css-vars
  }

  //
  // Growing circle
  //

  // scss-docs-start spinner-grow-keyframes
  @keyframes spinner-grow {
    0% {
      transform: scale(0);
    }
    50% {
      opacity: 1;
      transform: none;
    }
  }
  // scss-docs-end spinner-grow-keyframes

  .spinner-grow {
    @include tokens($spinner-grow-tokens);

    background-color: currentcolor;
    opacity: 0;
  }

  .spinner-rotate {
    animation: $spinner-animation-speed $spinner-animation-timing-function infinite spinner-border;
  }

  @if $enable-reduced-motion {
    @media (prefers-reduced-motion: reduce) {
      .spinner-border,
      .spinner-grow {
        --#{$prefix}spinner-animation-speed: #{$spinner-reduced-motion-animation-speed};
      }

      .spinner-rotate {
        animation-duration: $spinner-reduced-motion-animation-speed;
      }
    }
  }
}
