@use "banner" with (
  $file: "Grid"
);

@forward "config";
@forward "layout" with (
  $include-column-box-sizing: true !default,
);
@use "utilities" as *;
@use "functions/maps" as *;

// Only use the utilities we need
// stylelint-disable-next-line scss/dollar-variable-default
$utilities: map-get-multiple(
  $utilities,
  (
    "display",
    "order",
    "grid-template-columns",
    "grid-column",
    "grid-auto-flow",
    "gap",
    "row-gap",
    "column-gap",
    "flex",
    "flex-direction",
    "flex-grow",
    "flex-shrink",
    "flex-wrap",
    "justify-content",
    "justify-items",
    "align-items",
    "align-content",
    "align-self",
    "place-items",
    "margin",
    "margin-x",
    "margin-y",
    "margin-top",
    "margin-end",
    "margin-bottom",
    "margin-start",
    "negative-margin",
    "negative-margin-x",
    "negative-margin-y",
    "negative-margin-top",
    "negative-margin-end",
    "negative-margin-bottom",
    "negative-margin-start",
    "padding",
    "padding-x",
    "padding-y",
    "padding-top",
    "padding-end",
    "padding-bottom",
    "padding-start",
  )
);

@use "utilities/api";
