// Body
//
// Settings for the `<body>` element.

$body-bg:     $gray-100 !default;
$body-color:  $gray-base !default;
$elevation-base-color: 60, 75, 100 !default; //#3c4b64

$body-theme-map: () !default;
// stylelint-disable-next-line scss/dollar-variable-default
$body-theme-map: map-merge(
  (
    default: (
      "body-bg":     $body-bg,
      "body-color":  $body-color,
      "elevation-base-color": $elevation-base-color
    )
  ),
  $body-theme-map
);
