$primary-gradient: (
  "start": #321FDB,
  "stop": #1F1498
) !default;

$secondary-gradient: (
  "start": #C8D2DC,
  "stop": #fff
) !default;

$light-gradient: (
  "start": #E3E8ED,
  "stop": #fff
) !default;

$dark-gradient: (
  "start": #3C4B64,
  "stop": #212333
) !default;

$danger-gradient: (
  "start": #E55353,
  "stop": #D93737
) !default;

$warning-gradient: (
  "start": #F9B115,
  "stop": #F6960B
) !default;

$success-gradient: (
  "start": #2EB85C,
  "stop": #1B9E3E
) !default;

$info-gradient: (
  "start": #3399FF,
  "stop": #2982CC
) !default;

$theme-gradients: () !default;
// stylelint-disable-next-line scss/dollar-variable-default
$theme-gradients: map-merge(
  (
    "primary":    $primary-gradient,
    "secondary":  $secondary-gradient,
    "success":    $success-gradient,
    "info":       $info-gradient,
    "warning":    $warning-gradient,
    "danger":     $danger-gradient,
    "light":      $light-gradient,
    "dark":       $dark-gradient
  ),
  $theme-gradients
);
