
// Options

$enable-elevations__lt:  false !default;

// stylelint-disable-next-line scss/dollar-variable-default
$options: map-merge(
  $options,
  (
    legacy: (
      "enable-elevations":  $enable-elevations__lt
    )
  )
);

// stylelint-disable-next-line scss/dollar-variable-default
$default-themes: map-merge(
  (
    legacy: (
      "default":       false,
      "theme-colors":  $theme-colors__lt,
      "grays":         $grays__lt,
      "gradients":     $theme-gradients__lt
    )
  ),
  $default-themes
);
