@use "../functions/defaults" as *;
@use "../config" as *;

$caret-tokens: () !default;

// stylelint-disable scss/dollar-variable-default

// scss-docs-start caret-tokens
$caret-tokens: defaults(
  (
    --#{$prefix}caret-width: .3em,
    --#{$prefix}caret-spacing: calc(var(--#{$prefix}caret-width) * .85),
    --#{$prefix}caret-vertical-align: calc(var(--#{$prefix}caret-width) * .85),
  ),
  $caret-tokens
);
// scss-docs-end caret-tokens

// stylelint-enable scss/dollar-variable-default

// scss-docs-start caret-mixins
@mixin caret-down($width: var(--#{$prefix}caret-width, .3em)) {
  border-block-start: $width solid;
  border-block-end: 0;
  border-inline-start: $width solid transparent;
  border-inline-end: $width solid transparent;
}

@mixin caret-up($width: var(--#{$prefix}caret-width, .3em)) {
  border-block-start: 0;
  border-block-end: $width solid;
  border-inline-start: $width solid transparent;
  border-inline-end: $width solid transparent;
}

@mixin caret-end($width: var(--#{$prefix}caret-width, .3em)) {
  border-block-start: $width solid transparent;
  border-block-end: $width solid transparent;
  border-inline-start: $width solid;
  border-inline-end: 0;
}

@mixin caret-start($width: var(--#{$prefix}caret-width, .3em)) {
  border-block-start: $width solid transparent;
  border-block-end: $width solid transparent;
  border-inline-end: $width solid;
}

@mixin caret(
  $direction: down,
  $width: var(--#{$prefix}caret-width, .3em),
  $spacing: var(--#{$prefix}caret-spacing, calc(var(--#{$prefix}caret-width, .3em) * .85)),
  $vertical-align: var(--#{$prefix}caret-vertical-align, calc(var(--#{$prefix}caret-width, .3em) * .85))
) {
  @if $enable-caret {
    &::after {
      display: inline-block;
      margin-inline-start: $spacing;
      vertical-align: $vertical-align;
      content: "";
      @if $direction == down {
        @include caret-down($width);
      } @else if $direction == up {
        @include caret-up($width);
      } @else if $direction == end {
        @include caret-end($width);
      }
    }

    @if $direction == start {
      &::after {
        display: none;
      }

      &::before {
        display: inline-block;
        margin-inline-end: $spacing;
        vertical-align: $vertical-align;
        content: "";
        @include caret-start($width);
      }
    }

    &:empty::after {
      margin-inline-start: 0;
    }
  }
}
// scss-docs-end caret-mixins
