@use "../functions/defaults" as *;
@use "focus-ring" as *;
@use "../colors" as *;
@use "../config" as *;

// This mixin uses an `if()` technique to be compatible with Dart Sass
// See https://github.com/sass/sass/issues/1873#issuecomment-152293725 for more details

// scss-docs-start form-validation-states
$form-validation-states: (
  "valid": (
    "theme": "success",
  ),
  "invalid": (
    "theme": "danger",
  )
) !default;
// scss-docs-end form-validation-states

// stylelint-disable scss/dollar-variable-default

// scss-docs-start form-feedback-tokens
$form-feedback-tokens: () !default;
$form-feedback-tokens: defaults(
  (
    --#{$prefix}form-feedback-margin-top: .25rem,
    --#{$prefix}form-feedback-font-size: var(--#{$prefix}small-font-size),
    --#{$prefix}form-feedback-font-style: #{null},
    --#{$prefix}form-feedback-tooltip-padding-y: var(--#{$prefix}spacer-1),
    --#{$prefix}form-feedback-tooltip-padding-x: var(--#{$prefix}spacer-2),
    --#{$prefix}form-feedback-tooltip-font-size: var(--#{$prefix}font-size-sm),
    --#{$prefix}form-feedback-tooltip-line-height: #{null},
    --#{$prefix}form-feedback-tooltip-border-radius: var(--#{$prefix}radius-4),
  ),
  $form-feedback-tokens
);
// scss-docs-end form-feedback-tokens

// stylelint-enable scss/dollar-variable-default

// scss-docs-start form-validation-state-selector
@mixin form-validation-state-selector($state) {
  @if $state == "invalid" {
    [data-coreui-validate] #{if(sass(&): "&"; else: "")}:user-invalid,
    #{if(sass(&): "&"; else: "")}.is-#{$state} {
      @content;
    }
  } @else if $state == "valid" {
    [data-coreui-validate~="valid"] #{if(sass(&): "&"; else: "")}:user-valid,
    #{if(sass(&): "&"; else: "")}.is-#{$state} {
      @content;
    }
  } @else {
    #{if(sass(&): "&"; else: "")}.is-#{$state} {
      @content;
    }
  }
}
// scss-docs-end form-validation-state-selector

// scss-docs-start form-validation-controls-mixin
@mixin form-validation-controls(
  $selectors,
  $state,
  $theme,
  $color: var(--#{$prefix}#{$theme}-fg),
  $tooltip-color: null,
  $focus-ring-color: var(--#{$prefix}#{$theme}-focus-ring),
  $border-color: var(--#{$prefix}#{$theme}-fg)
) {
  #{$selectors} {
    @include form-validation-state-selector($state) {
      border-color: $border-color;

      &:checked {
        background-color: $color;
      }

      &:focus-visible {
        @include focus-ring(true, $color: $focus-ring-color);
      }

      ~ label {
        color: $color;
      }
    }
  }
}
// scss-docs-end form-validation-controls-mixin
