@use "../functions/defaults" as *;
@use "../mixins/tokens" as *;
@use "../config" as *;

$form-field-tokens: () !default;

// stylelint-disable scss/dollar-variable-default

// scss-docs-start form-field-tokens
$form-field-tokens: defaults(
  (
    --#{$prefix}form-field-gap: .5rem,
    --#{$prefix}form-field-column-gap: .5rem,
  ),
  $form-field-tokens
);
// scss-docs-end form-field-tokens

$form-field-card-tokens: () !default;

// scss-docs-start form-field-card-tokens
$form-field-card-tokens: defaults(
  (
    --#{$prefix}form-field-card-padding-y: calc(var(--#{$prefix}spacer) * .75),
    --#{$prefix}form-field-card-padding-x: calc(var(--#{$prefix}spacer) * .75),
    --#{$prefix}form-field-card-radius: var(--#{$prefix}radius-7),
    --#{$prefix}form-field-card-hover-bg: var(--#{$prefix}bg-1),
    --#{$prefix}form-field-card-checked-bg: var(--#{$prefix}bg-1),
    --#{$prefix}form-field-card-checked-border-color: var(--#{$prefix}border-color),
  ),
  $form-field-card-tokens
);
// scss-docs-end form-field-card-tokens

$form-group-tokens: () !default;

// scss-docs-start form-group-tokens
$form-group-tokens: defaults(
  (
    --#{$prefix}form-group-gap: .5rem,
  ),
  $form-group-tokens
);
// scss-docs-end form-group-tokens

// stylelint-enable scss/dollar-variable-default

@mixin form-field($control-children: "> .check, > .radio, > .switch", $controls: ".check, .radio, .switch") {
  @include tokens($form-field-tokens);

  position: relative;
  display: grid;
  gap: var(--#{$prefix}form-field-gap);

  > label,
  > .form-label {
    justify-self: start;
    margin-bottom: 0;
  }

  &:has(#{$control-children}) {
    grid-template-columns: auto 1fr;
    column-gap: var(--#{$prefix}form-field-column-gap);
    align-items: start;

    #{$control-children} {
      grid-column: 1;
    }

    > :not(#{$controls}) {
      grid-column: 2;
    }

    > .form-label {
      grid-column: 1 / -1;
    }
  }
}
