//
// Cards
//

// Dark theme
$card-dark-border-color:  $border-color__dt !default;
$card-dark-cap-bg:        $gray-700__dt !default;
$card-dark-cap-color:     null !default;
$card-dark-color:         null !default;
$card-dark-bg:            $gray-600__dt !default;

// stylelint-disable-next-line scss/dollar-variable-default
$card-theme-map: map-merge(
  $card-theme-map,
  (
    dark: (
      "card-border-color":  $card-dark-border-color,
      "card-cap-bg":        $card-dark-cap-bg,
      "card-cap-color":     $card-dark-cap-color,
      "card-color":         $card-dark-color,
      "card-bg":            $card-dark-bg
    )
  ),
);
