
// Dropdowns
//
// Dropdown menu container and contents.

// Dark theme
$dropdown-color__dt:                $body-color__dt !default;
$dropdown-bg__dt:                   $gray-200__dt !default;
$dropdown-border-color__dt:         $border-color__dt !default;
$dropdown-divider-bg__dt:           $border-color__dt !default;
$dropdown-link-color__dt:           $body-color__dt !default;
$dropdown-link-hover-color__dt:     $body-color__dt !default;
$dropdown-link-hover-bg__dt:        rgba($white, .1) !default;
$dropdown-link-active-color__dt:    $component-active-color__dt !default;
$dropdown-link-active-bg__dt:       $component-active-bg__dt !default;
$dropdown-link-disabled-color__dt:  rgba($body-color__dt, .6) !default;
$dropdown-header-color__dt:         $body-color__dt !default;

// stylelint-disable-next-line scss/dollar-variable-default
$dropdown-theme-map: map-merge(
  $dropdown-theme-map,
  (
    dark: (
      "dropdown-color":                $dropdown-color__dt,
      "dropdown-border-color":         $dropdown-border-color__dt,
      "dropdown-bg":                   $dropdown-bg__dt,
      "dropdown-divider-bg":           $dropdown-divider-bg__dt,
      "dropdown-link-color":           $dropdown-link-color__dt,
      "dropdown-link-hover-color":     $dropdown-link-hover-color__dt,
      "dropdown-link-hover-bg":        $dropdown-link-hover-bg__dt,
      "dropdown-link-active-color":    $dropdown-link-active-color__dt,
      "dropdown-link-active-bg":       $dropdown-link-active-bg__dt,
      "dropdown-link-disabled-color":  $dropdown-link-disabled-color__dt,
      "dropdown-header-color":         $dropdown-header-color__dt
    )
  )
);
