// Links
//
// Style anchor elements.

$link-dark-theme-color:        $primary-50 !default;
$link-dark-theme-hover-color:  darken($link-dark-theme-color, 15%) !default;

// stylelint-disable-next-line scss/dollar-variable-default
$link-theme-map: map-merge(
  $link-theme-map,
  (
    dark: (
      "link-color":        $link-dark-theme-color,
      "link-hover-color":  $link-dark-theme-hover-color
    )
  )
);
