// Modals

// Dark theme
// scss-docs-start modal-dark-theme
$modal-content-color__dt:         null !default;
$modal-content-bg__dt:            $bg-elevation-24 !default;
$modal-content-border-color__dt:  rgba(0, 0, 0, .2) !default;
$modal-header-border-color__dt:   rgba(0, 0, 0, .2) !default;
$modal-footer-border-color__dt:   rgba(0, 0, 0, .2) !default;
// scss-docs-end modal-dark-theme

// stylelint-disable-next-line scss/dollar-variable-default
$modal-theme-map: map-merge(
  $modal-theme-map,
  (
    dark: (
      "modal-content-color":         $modal-content-color__dt,
      "modal-content-bg":            $modal-content-bg__dt,
      "modal-content-border-color":  $modal-content-border-color__dt,
      "modal-header-border-color":   $modal-header-border-color__dt,
      "modal-footer-border-color":   $modal-footer-border-color__dt
    )
  ),
);
