
// Navbar

$navbar-dark-theme-dark-color:                 rgba($white, .5) !default;
$navbar-dark-theme-dark-hover-color:           rgba($white, .75) !default;
$navbar-dark-theme-dark-active-color:          $white !default;
$navbar-dark-theme-dark-disabled-color:        rgba($white, .25) !default;
$navbar-dark-theme-dark-toggler-icon-bg:       url("data:image/svg+xml,<svg xmlns='http://www.w3.org/2000/svg' width='30' height='30' viewBox='0 0 30 30'><path stroke='#{$navbar-dark-theme-dark-color}' stroke-linecap='round' stroke-miterlimit='10' stroke-width='2' d='M4 7h22M4 15h22M4 23h22'/></svg>") !default;
$navbar-dark-theme-dark-toggler-border-color:  rgba($white, .1) !default;

$navbar-dark-theme-light-color:                 rgba($black, .5) !default;
$navbar-dark-theme-light-hover-color:           rgba($black, .7) !default;
$navbar-dark-theme-light-active-color:          rgba($black, .9) !default;
$navbar-dark-theme-light-disabled-color:        rgba($black, .3) !default;
$navbar-dark-theme-light-toggler-icon-bg:       url("data:image/svg+xml,<svg xmlns='http://www.w3.org/2000/svg' width='30' height='30' viewBox='0 0 30 30'><path stroke='#{$navbar-dark-theme-light-color}' stroke-linecap='round' stroke-miterlimit='10' stroke-width='2' d='M4 7h22M4 15h22M4 23h22'/></svg>") !default;
$navbar-dark-theme-light-toggler-border-color:  rgba($black, .1) !default;

$navbar-dark-theme-light-brand-color:        $navbar-dark-theme-light-active-color !default;
$navbar-dark-theme-light-brand-hover-color:  $navbar-dark-theme-light-active-color !default;
$navbar-dark-theme-dark-brand-color:         $navbar-dark-theme-dark-active-color !default;
$navbar-dark-theme-dark-brand-hover-color:   $navbar-dark-theme-dark-active-color !default;

$navbar-dark-theme-variants-map: () !default;
// stylelint-disable-next-line scss/dollar-variable-default
$navbar-dark-theme-variants-map: map-merge(
  (
    dark: (
      "navbar-color":                 $navbar-dark-theme-dark-color,
      "navbar-hover-color":           $navbar-dark-theme-dark-hover-color,
      "navbar-active-color":          $navbar-dark-theme-dark-active-color,
      "navbar-disabled-color":        $navbar-dark-theme-dark-disabled-color,
      "navbar-toggler-icon-bg":       $navbar-dark-theme-dark-toggler-icon-bg,
      "navbar-toggler-border-color":  $navbar-dark-theme-dark-toggler-border-color,
      "navbar-brand-color":           $navbar-dark-theme-dark-brand-color,
      "navbar-brand-hover-color":     $navbar-dark-theme-dark-brand-hover-color
    ),
    light: (
      "navbar-color":                 $navbar-dark-theme-light-color,
      "navbar-hover-color":           $navbar-dark-theme-light-hover-color,
      "navbar-active-color":          $navbar-dark-theme-light-active-color,
      "navbar-disabled-color":        $navbar-dark-theme-light-disabled-color,
      "navbar-toggler-icon-bg":       $navbar-dark-theme-light-toggler-icon-bg,
      "navbar-toggler-border-color":  $navbar-dark-theme-light-toggler-border-color,
      "navbar-brand-color":           $navbar-dark-theme-light-brand-color,
      "navbar-brand-hover-color":     $navbar-dark-theme-light-brand-hover-color
    )
  ),
  $navbar-dark-theme-variants-map
);

$navbar-dark-theme-default-variant: null !default;
$navbar-dark-theme-variants: (
  default:  $navbar-dark-theme-default-variant,
  map:      $navbar-dark-theme-variants-map
) !default;

// stylelint-disable-next-line scss/dollar-variable-default
$navbar-theme-map: map-merge(
  $navbar-theme-map,
  (
    default:  $navbar-dark-theme-variants
  )
);
