
// Pagination

// Dark theme
$pagination-color__dt:                  $body-color__dt !default;
$pagination-bg__dt:                     rgba($white, .075) !default;
$pagination-border-color__dt:           $border-color__dt !default;
$pagination-focus-box-shadow__dt:       $input-btn-focus-box-shadow !default;
$pagination-focus-outline__dt:          0 !default;
$pagination-hover-color__dt:            $body-color__dt !default;
$pagination-hover-bg__dt:               $border-color__dt !default;
$pagination-hover-border-color__dt:     $border-color__dt !default;
$pagination-active-color__dt:           $component-active-color__dt !default;
$pagination-active-bg__dt:              $component-active-bg__dt !default;
$pagination-active-border-color__dt:    $pagination-active-bg !default;
$pagination-disabled-color__dt:         rgba($white, .5) !default;
$pagination-disabled-bg__dt:            rgba($white, .025) !default;
$pagination-disabled-border-color__dt:  $border-color__dt !default;

// stylelint-disable-next-line scss/dollar-variable-default
$pagination-theme-map: map-merge(
  $pagination-theme-map,
  (
    dark: (
      "pagination-color":                  $pagination-color__dt,
      "pagination-bg":                     $pagination-bg__dt,
      "pagination-border-color":           $pagination-border-color__dt,
      "pagination-focus-box-shadow":       $pagination-focus-box-shadow__dt,
      "pagination-focus-outline":          $pagination-focus-outline__dt,
      "pagination-hover-color":            $pagination-hover-color__dt,
      "pagination-hover-bg":               $pagination-hover-bg__dt,
      "pagination-hover-border-color":     $pagination-hover-border-color__dt,
      "pagination-active-color":           $pagination-active-color__dt,
      "pagination-active-bg":              $pagination-active-bg__dt,
      "pagination-active-border-color":    $pagination-active-border-color__dt,
      "pagination-disabled-color":         $pagination-disabled-color__dt,
      "pagination-disabled-bg":            $pagination-disabled-bg__dt,
      "pagination-disabled-border-color":  $pagination-disabled-border-color__dt
    )
  )
);

