// Progress bars

// Dark theme
$progress-bg__dt:         rgba($white, .2) !default;
$progress-bar-color__dt:  $white !default;
$progress-bar-bg__dt:     $primary__dt !default;

// stylelint-disable-next-line scss/dollar-variable-default
$progress-theme-map: map-merge(
  $progress-theme-map,
  (
    dark: (
      "progress-bg":         $progress-bg__dt,
      "progress-bar-color":  $progress-bar-color__dt,
      "progress-bar-bg":     $progress-bar-bg__dt
    )
  )
);
