@use "../config" as *;

@layer content {
  .blockquote {
    margin-bottom: $blockquote-margin-y;
    font-size: $blockquote-font-size;

    > :last-child {
      margin-bottom: 0;
    }
  }

  .blockquote-footer {
    margin-top: -$blockquote-margin-y;
    margin-bottom: $blockquote-margin-y;
    font-size: $blockquote-footer-font-size;
    color: $blockquote-footer-color;

    &::before {
      content: "\2014\00A0"; // em dash, nbsp
    }
  }
}
