@use "../functions/defaults" as *;
@use "../mixins/tokens" as *;
@use "../config" as *;

$blockquote-tokens: () !default;
$blockquote-footer-tokens: () !default;

// stylelint-disable scss/dollar-variable-default

// scss-docs-start blockquote-tokens
$blockquote-tokens: defaults(
  (
    --#{$prefix}blockquote-margin-y: var(--#{$prefix}spacer),
    --#{$prefix}blockquote-gap: var(--#{$prefix}spacer),
    --#{$prefix}blockquote-font-size: calc(var(--#{$prefix}body-font-size) * 1.25),
  ),
  $blockquote-tokens
);
// scss-docs-end blockquote-tokens

// scss-docs-start blockquote-footer-tokens
$blockquote-footer-tokens: defaults(
  (
    --#{$prefix}blockquote-footer-margin-y: var(--#{$prefix}spacer),
    --#{$prefix}blockquote-footer-color: var(--#{$prefix}fg-3),
    --#{$prefix}blockquote-footer-font-size: var(--#{$prefix}small-font-size),
  ),
  $blockquote-footer-tokens
);
// scss-docs-end blockquote-footer-tokens

// stylelint-enable scss/dollar-variable-default

@layer content {
  .blockquote {
    @include tokens($blockquote-tokens);

    display: flex;
    flex-direction: column;
    gap: var(--#{$prefix}blockquote-gap);
    margin-bottom: var(--#{$prefix}blockquote-margin-y);
    font-size: var(--#{$prefix}blockquote-font-size);

    > * {
      margin-block: 0;
    }

    &:has(+ .blockquote-footer) {
      margin-bottom: 0;
    }
  }

  .blockquote-footer {
    @include tokens($blockquote-footer-tokens);

    margin-bottom: var(--#{$prefix}blockquote-footer-margin-y);
    font-size: var(--#{$prefix}blockquote-footer-font-size);
    color: var(--#{$prefix}blockquote-footer-color);

    &::before {
      content: "\2014\00A0"; // em dash, nbsp
    }
  }
}
