@use "../functions/defaults" as *;
@use "../mixins/border-radius" as *;
@use "../mixins/box-shadow" as *;
@use "../mixins/image" as *;
@use "../mixins/tokens" as *;
@use "../config" as *;

// scss-docs-start thumbnail-variables
$thumbnail-padding:                 .25rem !default;
$thumbnail-bg:                      var(--#{$prefix}body-bg) !default;
$thumbnail-border-width:            var(--#{$prefix}border-width) !default;
$thumbnail-border-color:            var(--#{$prefix}border-color) !default;
$thumbnail-border-radius:           var(--#{$prefix}border-radius) !default;
$thumbnail-box-shadow:              var(--#{$prefix}box-shadow-sm) !default;
// scss-docs-end thumbnail-variables

// scss-docs-start figure-variables
$figure-img-margin-bottom:          var(--#{$prefix}spacer-2) !default;
$figure-caption-font-size:          var(--#{$prefix}small-font-size) !default;
$figure-caption-color:              var(--#{$prefix}secondary-color) !default;
// scss-docs-end figure-variables

$thumbnail-tokens: () !default;
$figure-img-tokens: () !default;
$figure-caption-tokens: () !default;

// stylelint-disable scss/dollar-variable-default

// scss-docs-start thumbnail-css-vars
$thumbnail-tokens: defaults(
  (
    --#{$prefix}thumbnail-padding: #{$thumbnail-padding},
    --#{$prefix}thumbnail-bg: #{$thumbnail-bg},
    --#{$prefix}thumbnail-border-width: #{$thumbnail-border-width},
    --#{$prefix}thumbnail-border-color: #{$thumbnail-border-color},
    --#{$prefix}thumbnail-border-radius: #{$thumbnail-border-radius},
    --#{$prefix}thumbnail-box-shadow: #{$thumbnail-box-shadow},
  ),
  $thumbnail-tokens
);
// scss-docs-end thumbnail-css-vars

// scss-docs-start figure-css-vars
$figure-img-tokens: defaults(
  (
    --#{$prefix}figure-img-margin-bottom: #{$figure-img-margin-bottom},
  ),
  $figure-img-tokens
);

$figure-caption-tokens: defaults(
  (
    --#{$prefix}figure-caption-font-size: #{$figure-caption-font-size},
    --#{$prefix}figure-caption-color: #{$figure-caption-color},
  ),
  $figure-caption-tokens
);
// scss-docs-end figure-css-vars

// stylelint-enable scss/dollar-variable-default

@layer content {
  // Responsive images (ensure images don't scale beyond their parents)
  //
  // This is purposefully opt-in via an explicit class rather than being the default for all `<img>`s.
  // We previously tried the "images are responsive by default" approach in Bootstrap v2,
  // and abandoned it in Bootstrap v3 because it breaks lots of third-party widgets (including Google Maps)
  // which weren't expecting the images within themselves to be involuntarily resized.
  // See also https://github.com/twbs/bootstrap/issues/18178
  .img-fluid {
    @include img-fluid();
  }


  // Image thumbnails
  .img-thumbnail {
    @include tokens($thumbnail-tokens);

    padding: var(--#{$prefix}thumbnail-padding);
    background-color: var(--#{$prefix}thumbnail-bg);
    border: var(--#{$prefix}thumbnail-border-width) solid var(--#{$prefix}thumbnail-border-color);
    @include border-radius(var(--#{$prefix}thumbnail-border-radius));
    @include box-shadow(var(--#{$prefix}thumbnail-box-shadow));

    // Keep them at most 100% wide
    @include img-fluid();
  }

  .figure {
    // Ensures the caption's text aligns with the image.
    display: inline-block;
  }

  .figure-img {
    @include tokens($figure-img-tokens);

    margin-bottom: var(--#{$prefix}figure-img-margin-bottom);
    line-height: 1;
  }

  .figure-caption {
    @include tokens($figure-caption-tokens);

    font-size: var(--#{$prefix}figure-caption-font-size);
    color: var(--#{$prefix}figure-caption-color);
  }
}
