@use "../mixins/lists" as *;
@use "reboot" as *;
@use "../config" as *;

// scss-docs-start type-variables
$lead-font-size:                calc(var(--#{$prefix}body-font-size) * 1.25) !default; // stylelint-disable-line function-disallowed-list
$lead-font-weight:              300 !default;
$initialism-font-size:        $small-font-size !default;
// scss-docs-end type-variables

// scss-docs-start display-headings
$display-font-sizes: (
  1: clamp(1.625rem, 1.625rem + 4.5vw, 5rem),
  2: clamp(1.575rem, 1.575rem + 3.9vw, 4.5rem),
  3: clamp(1.525rem, 1.525rem + 3.3vw, 4rem),
  4: clamp(1.475rem, 1.475rem + 2.7vw, 3.5rem),
  5: clamp(1.425rem, 1.425rem + 2.1vw, 3rem),
  6: clamp(1.375rem, 1.375rem + 1.5vw, 2.5rem)
) !default;

$display-font-family: null !default;
$display-font-style:  null !default;
$display-font-weight: 300 !default;
$display-line-height: $headings-line-height !default;
// scss-docs-end display-headings

@layer content {
  //
  // Headings
  //
  .h1 {
    @extend h1;
  }

  .h2 {
    @extend h2;
  }

  .h3 {
    @extend h3;
  }

  .h4 {
    @extend h4;
  }

  .h5 {
    @extend h5;
  }

  .h6 {
    @extend h6;
  }

  .lead {
    font-size: $lead-font-size;
    font-weight: $lead-font-weight;
  }

  // Type display classes
  @each $display, $font-size in $display-font-sizes {
    .display-#{$display} {
      font-family: $display-font-family;
      font-size: $font-size;
      font-style: $display-font-style;
      font-weight: $display-font-weight;
      line-height: $display-line-height;
    }
  }

  //
  // Emphasis
  //
  .small {
    @extend small;
  }

  .mark {
    @extend mark;
  }

  //
  // Misc
  //

  // Builds on `abbr`
  .initialism {
    font-size: $initialism-font-size;
    text-transform: uppercase;
  }
}
