// Legacy Theme

$nav-link-disabled-color__lt:            $gray-600__lt !default;
$nav-tabs-border-color__lt:              $gray-300__lt !default;
$nav-tabs-link-hover-border-color__lt:   $gray-200__lt $gray-200__lt $nav-tabs-border-color__lt !default;
$nav-tabs-link-active-color__lt:         $gray-700__lt !default;
$nav-tabs-link-active-bg__lt:            $body-bg__lt !default;
$nav-tabs-link-active-border-color__lt:  $gray-300__lt $gray-300__lt $nav-tabs-link-active-bg__lt !default;

$nav-tabs-boxed-link-active-bg__lt:         $white !default;
$nav-tabs-boxed-content-bg__lt:             $white !default;
$nav-tabs-boxed-content-border-color__lt:   $border-color__lt !default;

$nav-tabs-boxed-left-active-border-color__lt:   $border-color__lt $white $border-color__lt $border-color__lt !default;
$nav-tabs-boxed-right-active-border-color__lt:  $border-color__lt $border-color__lt $border-color__lt $white !default;

$nav-pills-link-active-color__lt:  $component-active-color__lt !default;
$nav-pills-link-active-bg__lt:     $component-active-bg__lt !default;
$nav-divider-color__lt:            $gray-200__lt !default;

// stylelint-disable-next-line scss/dollar-variable-default
$nav-theme-map: map-merge(
  $nav-theme-map,
  (
    legacy: (
      "nav-link-disabled-color":                   $nav-link-disabled-color__lt,
      "nav-tabs-border-color":                     $nav-tabs-border-color__lt,
      "nav-tabs-link-hover-border-color":          $nav-tabs-link-hover-border-color__lt,
      "nav-tabs-link-active-color":                $nav-tabs-link-active-color__lt,
      "nav-tabs-link-active-bg":                   $nav-tabs-link-active-bg__lt,
      "nav-tabs-link-active-border-color":         $nav-tabs-link-active-border-color__lt,
      "nav-pills-link-active-color":               $nav-pills-link-active-color__lt,
      "nav-pills-link-active-bg":                  $nav-pills-link-active-bg__lt,
      "nav-divider-color":                         $nav-divider-color__lt,
      "nav-tabs-boxed-link-active-bg":             $nav-tabs-boxed-link-active-bg__lt,
      "nav-tabs-boxed-content-bg":                 $nav-tabs-boxed-content-bg__lt,
      "nav-tabs-boxed-content-border-color":       $nav-tabs-boxed-content-border-color__lt,
      "nav-tabs-boxed-left-active-border-color":   $nav-tabs-boxed-left-active-border-color__lt,
      "nav-tabs-boxed-right-active-border-color":  $nav-tabs-boxed-right-active-border-color__lt
    )
  )
);
