@import "./../functions";
@import "./../mixins";
@import "./../variables";
@import "./../utilities";

$theme-name: "dark-theme" !default;
$theme-prefix: "dark" !default;

.#{$theme-name} {
  @import "dark/variables";
  @import "dark/utilities";
  @import "dark/root";

  @include theme($theme-map);

  // Alert variants
  @each $state, $variant in $alert-variants-dt {
    @include alert-variant($state, $variant, true);
  }

  // Button variants
  @each $state, $variant in $button-variants-dt {
    @include button-variant($state, $variant, true);
  }

  @each $state, $variant in $button-outline-ghost-variants-dt {
    @include button-outline-variant($state, $variant, true);
  }

  @each $state, $variant in $button-outline-ghost-variants-dt {
    @include button-ghost-variant($state, $variant, true);
  }

  // List group variants
  @each $state, $variant in $list-group-variants-dt {
    @include list-group-item-variant($state, $variant, true);
  }

  // Fix Firefox option color
  @-moz-document url-prefix("") {
    select:not([multiple]) option {
      color: initial;
    }
  }

  // Utilities
  @import "./../utilities/api";
}
