.banner-black-friday {
  padding: 2rem;
  background: url("./../img/percents-bg.png") no-repeat, linear-gradient(222deg, #2c384a, #000);

  .black-friday-img {
    width: 100%;
    max-width: 360px;

    @include media-breakpoint-up(xxl) {
      max-width: 160px;
      transform: scale(1.35) translateX(-15px);
    }
  }
}
