@use "../functions/defaults" as *;
@use "../mixins/tokens" as *;
@use "../config" as *;

// scss-docs-start form-field-variables
$form-field-gap:            .5rem !default;
$form-field-column-gap:     .5rem !default;
// scss-docs-end form-field-variables

$form-field-tokens: () !default;

// stylelint-disable scss/dollar-variable-default

// scss-docs-start form-field-css-vars
$form-field-tokens: defaults(
  (
    --#{$prefix}form-field-gap: #{$form-field-gap},
    --#{$prefix}form-field-column-gap: #{$form-field-column-gap},
  ),
  $form-field-tokens
);
// scss-docs-end form-field-css-vars

// stylelint-enable scss/dollar-variable-default

// stylelint-disable-next-line scss/at-function-named-arguments
$form-field-selector: if(sass($enable-deprecated-form-check): ".form-field, .form-check"; else: ".form-field") !default;
// stylelint-disable-next-line scss/at-function-named-arguments
$form-field-controls: if(sass($enable-deprecated-form-check): ".check, .radio, .switch, .form-check-input"; else: ".check, .radio, .switch") !default;
// stylelint-disable-next-line scss/at-function-named-arguments
$form-field-control-children: if(sass($enable-deprecated-form-check): "> .check, > .radio, > .switch, > .form-check-input"; else: "> .check, > .radio, > .switch") !default;

@layer forms {
  #{$form-field-selector} {
    @include tokens($form-field-tokens);

    position: relative;
    display: grid;
    gap: var(--#{$prefix}form-field-gap);

    > label,
    > .form-label {
      justify-self: start;
      margin-bottom: 0;
    }

    &:has(#{$form-field-control-children}) {
      grid-template-columns: auto 1fr;
      column-gap: var(--#{$prefix}form-field-column-gap);
      align-items: start;

      #{$form-field-control-children} {
        grid-column: 1;
      }

      > :not(#{$form-field-controls}) {
        grid-column: 2;
      }

      > .form-label {
        grid-column: 1 / -1;
      }
    }
  }
}
