.form-multi-select-new {
  // scss-docs-start form-multi-select-new-css-vars
  --#{$prefix}form-multi-select-new-zindex: #{$zindex-form-multi-select-new};
  --#{$prefix}form-multi-select-new-padding-y: #{$form-multi-select-new-padding-y};
  --#{$prefix}form-multi-select-new-padding-x: #{$form-multi-select-new-padding-x};
  --#{$prefix}form-multi-select-new-font-family: #{$form-multi-select-new-font-family};
  --#{$prefix}form-multi-select-new-font-size: #{$form-multi-select-new-font-size};
  --#{$prefix}form-multi-select-new-font-weight: #{$form-multi-select-new-font-weight};
  --#{$prefix}form-multi-select-new-line-height: #{$form-multi-select-new-line-height};
  --#{$prefix}form-multi-select-new-color: #{$form-multi-select-new-color};
  --#{$prefix}form-multi-select-new-bg: #{$form-multi-select-new-bg};
  --#{$prefix}form-multi-select-new-box-shadow: #{$form-multi-select-new-box-shadow};
  --#{$prefix}form-multi-select-new-border-color: #{$form-multi-select-new-border-color};
  --#{$prefix}form-multi-select-new-border: #{$form-multi-select-new-border-width} solid var(--#{$prefix}form-multi-select-new-border-color);
  --#{$prefix}form-multi-select-new-border-radius: #{$form-multi-select-new-border-radius};
  --#{$prefix}form-multi-select-new-disabled-color: #{$form-multi-select-new-disabled-color};
  --#{$prefix}form-multi-select-new-disabled-bg: #{$form-multi-select-new-disabled-bg};
  --#{$prefix}form-multi-select-new-disabled-border-color: #{$form-multi-select-new-disabled-border-color};
  --#{$prefix}form-multi-select-new-focus-color: #{$form-multi-select-new-focus-color};
  --#{$prefix}form-multi-select-new-focus-bg: #{$form-multi-select-new-focus-bg};
  --#{$prefix}form-multi-select-new-focus-border-color: #{$form-multi-select-new-focus-border-color};
  --#{$prefix}form-multi-select-new-focus-box-shadow: #{$form-multi-select-new-focus-box-shadow};

  --#{$prefix}form-multi-select-new-cleaner-width: #{$form-multi-select-new-cleaner-width};
  --#{$prefix}form-multi-select-new-cleaner-height: #{$form-multi-select-new-cleaner-height};
  --#{$prefix}form-multi-select-new-cleaner-padding-y: #{$form-multi-select-new-cleaner-padding-y};
  --#{$prefix}form-multi-select-new-cleaner-padding-x: #{$form-multi-select-new-cleaner-padding-x};
  --#{$prefix}form-multi-select-new-cleaner-bg: #{escape-svg($form-multi-select-new-cleaner-bg)};
  --#{$prefix}form-multi-select-new-cleaner-hover-bg: #{escape-svg($form-multi-select-new-cleaner-hover-bg)};
  --#{$prefix}form-multi-select-new-cleaner-focus-bg: #{escape-svg($form-multi-select-new-cleaner-focus-bg)};

  --#{$prefix}form-multi-select-new-indicator-width: #{$form-multi-select-new-indicator-width};
  --#{$prefix}form-multi-select-new-indicator-height: #{$form-multi-select-new-indicator-height};
  --#{$prefix}form-multi-select-new-indicator-padding-y: #{$form-multi-select-new-indicator-padding-y};
  --#{$prefix}form-multi-select-new-indicator-padding-x: #{$form-multi-select-new-indicator-padding-x};
  --#{$prefix}form-multi-select-new-indicator-bg: #{escape-svg($form-multi-select-new-indicator-bg)};
  --#{$prefix}form-multi-select-new-indicator-hover-bg: #{escape-svg($form-multi-select-new-indicator-hover-bg)};
  --#{$prefix}form-multi-select-new-indicator-focus-bg: #{escape-svg($form-multi-select-new-indicator-focus-bg)};

  --#{$prefix}form-multi-select-new-select-all-padding-y: #{$form-multi-select-new-select-all-padding-y};
  --#{$prefix}form-multi-select-new-select-all-padding-x: #{$form-multi-select-new-select-all-padding-x};
  --#{$prefix}form-multi-select-new-select-all-color: #{$form-multi-select-new-select-all-color};
  --#{$prefix}form-multi-select-new-select-all-bg: #{$form-multi-select-new-select-all-bg};
  --#{$prefix}form-multi-select-new-select-all-border-color: #{$form-multi-select-new-select-all-border-color};
  --#{$prefix}form-multi-select-new-select-all-border: #{$form-multi-select-new-select-all-border-width} solid var(--#{$prefix}form-multi-select-new-select-all-border-color);
  --#{$prefix}form-multi-select-new-select-all-hover-color: #{$form-multi-select-new-select-all-hover-color};
  --#{$prefix}form-multi-select-new-select-all-hover-bg: #{$form-multi-select-new-select-all-hover-bg};

  --#{$prefix}form-multi-select-new-dropdown-min-width: #{$form-multi-select-new-dropdown-min-width};
  --#{$prefix}form-multi-select-new-dropdown-bg: #{$form-multi-select-new-dropdown-bg};
  --#{$prefix}form-multi-select-new-dropdown-border-color: #{$form-multi-select-new-dropdown-border-color};
  --#{$prefix}form-multi-select-new-dropdown-border: #{$form-multi-select-new-dropdown-border-width} solid var(--#{$prefix}form-multi-select-new-dropdown-border-color);
  --#{$prefix}form-multi-select-new-dropdown-border-radius: #{$form-multi-select-new-dropdown-border-radius};

  --#{$prefix}form-multi-select-new-options-padding-y: #{$form-multi-select-new-options-padding-y};
  --#{$prefix}form-multi-select-new-options-padding-x: #{$form-multi-select-new-options-padding-x};
  --#{$prefix}form-multi-select-new-options-font-size: #{$form-multi-select-new-options-font-size};
  --#{$prefix}form-multi-select-new-options-color: #{$form-multi-select-new-options-color};

  --#{$prefix}form-multi-select-new-optgroup-label-padding-y: #{$form-multi-select-new-optgroup-label-padding-y};
  --#{$prefix}form-multi-select-new-optgroup-label-padding-x: #{$form-multi-select-new-optgroup-label-padding-x};
  --#{$prefix}form-multi-select-new-optgroup-label-font-size: #{$form-multi-select-new-optgroup-label-font-size};
  --#{$prefix}form-multi-select-new-optgroup-label-font-weight: #{$form-multi-select-new-optgroup-label-font-weight};
  --#{$prefix}form-multi-select-new-optgroup-label-color: #{$form-multi-select-new-optgroup-label-color};
  --#{$prefix}form-multi-select-new-optgroup-label-text-transform: #{$form-multi-select-new-optgroup-label-text-transform};

  --#{$prefix}form-multi-select-new-option-padding-y: #{$form-multi-select-new-option-padding-y};
  --#{$prefix}form-multi-select-new-option-padding-x: #{$form-multi-select-new-option-padding-x};
  --#{$prefix}form-multi-select-new-option-margin-y: #{$form-multi-select-new-option-margin-y};
  --#{$prefix}form-multi-select-new-option-margin-x: #{$form-multi-select-new-option-margin-x};
  --#{$prefix}form-multi-select-new-option-border-color: #{$form-multi-select-new-option-border-color};
  --#{$prefix}form-multi-select-new-option-border: #{$form-multi-select-new-option-border-width} solid var(--#{$prefix}form-multi-select-new-option-border-color);
  --#{$prefix}form-multi-select-new-option-border-radius: #{$form-multi-select-new-option-border-radius};
  --#{$prefix}form-multi-select-new-option-box-shadow: #{$form-multi-select-new-option-box-shadow};
  --#{$prefix}form-multi-select-new-option-hover-color: #{$form-multi-select-new-option-hover-color};
  --#{$prefix}form-multi-select-new-option-hover-bg: #{$form-multi-select-new-option-hover-bg};
  --#{$prefix}form-multi-select-new-option-focus-box-shadow: #{$form-multi-select-new-option-focus-box-shadow};
  --#{$prefix}form-multi-select-new-option-disabled-color: #{$form-multi-select-new-option-disabled-color};
  --#{$prefix}form-multi-select-new-option-indicator-width: #{$form-multi-select-new-option-indicator-width};
  --#{$prefix}form-multi-select-new-option-indicator-bg: #{$form-multi-select-new-option-indicator-bg};
  --#{$prefix}form-multi-select-new-option-indicator-border: #{$form-multi-select-new-option-indicator-border};
  --#{$prefix}form-multi-select-new-option-indicator-border-radius: #{$form-multi-select-new-option-indicator-border-radius};
  --#{$prefix}form-multi-select-new-option-selected-bg: #{$form-multi-select-new-option-selected-bg};
  --#{$prefix}form-multi-select-new-option-selected-indicator-bg: #{$form-multi-select-new-option-selected-indicator-bg};
  --#{$prefix}form-multi-select-new-option-selected-indicator-bg-image: #{escape-svg($form-multi-select-new-option-selected-indicator-bg-image)};
  --#{$prefix}form-multi-select-new-option-selected-indicator-border-color: #{$form-multi-select-new-option-selected-indicator-border-color};

  --#{$prefix}form-multi-select-new-tag-padding-y: #{$form-multi-select-new-tag-padding-y};
  --#{$prefix}form-multi-select-new-tag-padding-x: #{$form-multi-select-new-tag-padding-x};
  --#{$prefix}form-multi-select-new-tag-bg: #{$form-multi-select-new-tag-bg};
  --#{$prefix}form-multi-select-new-tag-border-color: #{$form-multi-select-new-tag-border-color};
  --#{$prefix}form-multi-select-new-tag-border: #{$form-multi-select-new-tag-border-width} solid var(--#{$prefix}form-multi-select-new-tag-border-color);
  --#{$prefix}form-multi-select-new-tag-border-radius: #{$form-multi-select-new-tag-border-radius};

  --#{$prefix}form-multi-select-new-selection-tags-gap: #{$form-multi-select-new-selection-tags-gap};
  --#{$prefix}form-multi-select-new-selection-tags-padding-y: #{$form-multi-select-new-selection-tags-padding-y};
  --#{$prefix}form-multi-select-new-selection-tags-padding-x: #{$form-multi-select-new-selection-tags-padding-x};
  // scss-docs-end form-multi-select-new-css-vars

  position: relative;

  .was-validated .form-multi-select-new:invalid + &,
  &.is-invalid {
    --#{$prefix}form-multi-select-new-border-color: #{$form-feedback-invalid-color};
  }

  .was-validated .form-multi-select-new:valid + &,
  &.is-valid {
    --#{$prefix}form-multi-select-new-border-color: #{$form-feedback-valid-color};
  }
}

// stylelint-disable-next-line selector-no-qualifying-type
select.form-multi-select-new {
  display: none;
}

.form-multi-select-new-toggler {
  position: relative;
  display: flex;
  flex-wrap: wrap; // For form validation feedback
  align-items: stretch;
  width: 100%;
  font-family: var(--#{$prefix}form-multi-select-new-font-family);
  @include font-size(var(--#{$prefix}form-multi-select-new-font-size));
  font-weight: var(--#{$prefix}form-multi-select-new-font-weight);
  line-height: var(--#{$prefix}form-multi-select-new-line-height);
  color: var(--#{$prefix}form-multi-select-new-color);
  background-color: var(--#{$prefix}form-multi-select-new-bg);
  border: var(--#{$prefix}form-multi-select-new-border);
  @include border-radius(var(--#{$prefix}form-multi-select-new-border-radius), 0);

  .form-multi-select-new.disabled & {
    color: var(--#{$prefix}form-multi-select-new-disabled-color);
    background-color: var(--#{$prefix}form-multi-select-new-disabled-bg);
    border-color: var(--#{$prefix}form-multi-select-new-disabled-border-color);
  }

  .form-multi-select-new.show & {
    color: var(--#{$prefix}form-multi-select-new-focus-color);
    background-color: var(--#{$prefix}form-multi-select-new-focus-bg);
    border-color: var(--#{$prefix}form-multi-select-new-focus-border-color);
    outline: 0;
    @if $enable-shadows {
      box-shadow: var(--#{$prefix}form-multi-select-new-box-shadow), var(--#{$prefix}form-multi-select-new-focus-box-shadow);
    } @else {
      box-shadow: var(--#{$prefix}form-multi-select-new-focus-box-shadow);
    }
  }
}

.form-multi-select-new-selection {
  position: relative;
  display: flex;
  flex: 1 1 auto;
  flex-wrap: wrap;
  width: 1%;
  min-width: 0;
  padding: var(--#{$prefix}form-multi-select-new-padding-y) var(--#{$prefix}form-multi-select-new-padding-x);
  padding-inline-end: 0;

  .form-multi-select-new-selection-tags & {
    gap: var(--#{$prefix}form-multi-select-new-selection-tags-gap);
    align-content: center;
    padding: var(--#{$prefix}form-multi-select-new-selection-tags-padding-y) var(--#{$prefix}form-multi-select-new-selection-tags-padding-x);
    padding-inline-end: 0;
  }
}

.form-multi-select-new-search {
  display: none;
  flex: 1 1 auto;
  max-width: 100%;
  padding: 0;
  background: transparent;
  border: 0;

  &:focus {
    outline: 0;
  }

  .form-multi-select-new.show &,
  &:placeholder-shown {
    display: flex;
  }

  .form-multi-select-new-selection-tags & {
    padding-inline-start: calc(var(--#{$prefix}form-multi-select-new-padding-x) - .25rem); // stylelint-disable-line function-disallowed-list
  }
}

.form-multi-select-new-text {
  .form-multi-select-new-selection-tags & {
    padding: calc(var(--#{$prefix}form-multi-select-new-padding-y) - .25rem) calc(var(--#{$prefix}form-multi-select-new-padding-x) - .25rem); // stylelint-disable-line function-disallowed-list
  }
}

.form-multi-select-new-buttons {
  display: flex;
  align-items: center;
  min-height: calc(2 * var(--#{$prefix}form-multi-select-new-padding-y) + calc(var(--#{$prefix}form-multi-select-new-font-size) * var(--#{$prefix}form-multi-select-new-line-height)));  // stylelint-disable-line function-disallowed-list
}

.form-multi-select-new-cleaner,
.form-multi-select-new-indicator {
  position: relative;
  z-index: 2;
  box-sizing: content-box;
  background-color: transparent;
  background-repeat: no-repeat;
  background-position: center;
  border: 0;

  &:focus {
    z-index: 5;
  }
}

.form-multi-select-new-cleaner {
  width: var(--#{$prefix}form-multi-select-new-cleaner-width);
  height: var(--#{$prefix}form-multi-select-new-cleaner-height);
  padding: var(--#{$prefix}form-multi-select-new-cleaner-padding-y) var(--#{$prefix}form-multi-select-new-cleaner-padding-x);
  background-image: var(--#{$prefix}form-multi-select-new-cleaner-bg);
  background-size: var(--#{$prefix}form-multi-select-new-cleaner-width) auto;

  &:hover {
    background-image: var(--#{$prefix}form-multi-select-new-cleaner-hover-bg);
  }

  &:focus {
    background-image: var(--#{$prefix}form-multi-select-new-cleaner-focus-bg);
  }
}

.form-multi-select-new-indicator {
  width: var(--#{$prefix}form-multi-select-new-indicator-width);
  height: var(--#{$prefix}form-multi-select-new-indicator-height);
  padding: var(--#{$prefix}form-multi-select-new-indicator-padding-y) var(--#{$prefix}form-multi-select-new-indicator-padding-x);
  background-image: var(--#{$prefix}form-multi-select-new-indicator-bg);
  background-size: var(--#{$prefix}form-multi-select-new-indicator-width) auto;
  @include transition(transform .15s ease-in-out);

  &:hover {
    background-image: var(--#{$prefix}form-multi-select-new-indicator-hover-bg);
  }

  &:focus {
    background-image: var(--#{$prefix}form-multi-select-new-indicator-focus-bg);
  }

  .form-multi-select-new.show & {
    transform: rotate(180deg);
  }
}

.form-multi-select-new-tag {
  padding: var(--#{$prefix}form-multi-select-new-tag-padding-y) var(--#{$prefix}form-multi-select-new-tag-padding-x);
  background-color: var(--#{$prefix}form-multi-select-new-tag-bg);
  border: var(--#{$prefix}form-multi-select-new-tag-border);
  @include border-radius(var(--#{$prefix}form-multi-select-new-tag-border-radius));
}

.form-multi-select-new-tag-delete {
  padding: 0;
  margin-inline-start: $spacer * .5;
  background-color: transparent;
  border: 0;
}

.form-multi-select-new-dropdown {
  position: absolute;
  z-index: var(--#{$prefix}form-multi-select-new-zindex);
  display: none; // none by default, but block on "open" of the menu
  min-width: var(--#{$prefix}form-multi-select-new-dropdown-min-width);
  background-color: var(--#{$prefix}form-multi-select-new-dropdown-bg);
  background-clip: padding-box;
  border: var(--#{$prefix}form-multi-select-new-dropdown-border);
  @include border-radius(var(--#{$prefix}form-multi-select-new-dropdown-border-radius));
  @include elevation(4);

  .form-multi-select-new.show & {
    display: block;
  }
}

.form-multi-select-new-all {
  display: block;
  width: 100%;
  padding: var(--#{$prefix}form-multi-select-new-select-all-padding-y) var(--#{$prefix}form-multi-select-new-select-all-padding-x);
  color: var(--#{$prefix}form-multi-select-new-select-all-color);
  text-align: start;
  background-color: var(--#{$prefix}form-multi-select-new-select-all-bg);
  border: 0;
  border-bottom: var(--#{$prefix}form-multi-select-new-select-all-border);

  &:hover {
    color: var(--#{$prefix}form-multi-select-new-select-all-hover-color);
    background-color: var(--#{$prefix}form-multi-select-new-select-all-hover-bg);
  }
}

.form-multi-select-new-options {
  padding: var(--#{$prefix}form-multi-select-new-options-padding-y) var(--#{$prefix}form-multi-select-new-options-padding-x);
  font-size: var(--#{$prefix}form-multi-select-new-options-font-size);
  color: var(--#{$prefix}form-multi-select-new-options-color);
}

.form-multi-select-new-option {
  position: relative;
  z-index: 2;
  padding: var(--#{$prefix}form-multi-select-new-option-padding-y) var(--#{$prefix}form-multi-select-new-option-padding-x);
  margin: var(--#{$prefix}form-multi-select-new-option-margin-y) var(--#{$prefix}form-multi-select-new-option-margin-x);
  cursor: pointer;
  border: var(--#{$prefix}form-multi-select-new-option-border);
  @include border-radius(var(--#{$prefix}form-multi-select-new-option-border-radius), 0);

  &:hover,
  &:focus {
    color: var(--#{$prefix}form-multi-select-new-option-hover-color);
    text-decoration: none;
    background-color: var(--#{$prefix}form-multi-select-new-option-hover-bg);
  }

  &:focus {
    z-index: 5;
    border-color: var(--#{$prefix}input-focus-border-color, $input-focus-border-color);
    outline: 0;
    @if $enable-shadows {
      box-shadow: var(--#{$prefix}form-multi-select-new-box-shadow), var(--#{$prefix}form-multi-select-new-focus-box-shadow);
    } @else {
      box-shadow: var(--#{$prefix}form-multi-select-new-focus-box-shadow);
    }
  }

  &.disabled {
    color: var(--#{$prefix}form-multi-select-new-option-disabled-color);
    pointer-events: none;
    background-color: transparent;
  }

  &.form-multi-select-new-option-with-checkbox {
    padding: $form-multi-select-option-padding-y $form-multi-select-option-padding-x;
    @include ltr-rtl("padding-left", calc(var(--#{$prefix}form-multi-select-new-option-padding-x) + var(--#{$prefix}form-multi-select-new-option-indicator-width)));
    &::before {
      position: absolute;
      top: .7rem;
      @include ltr-rtl("left",  calc(var(--#{$prefix}form-multi-select-new-option-padding-x) * .5));
      display: block;
      width: var(--#{$prefix}form-multi-select-new-option-indicator-width);
      height: var(--#{$prefix}form-multi-select-new-option-indicator-width);
      pointer-events: none;
      content: "";
      background-color: var(--#{$prefix}form-multi-select-new-option-indicator-bg);
      background-repeat: no-repeat;
      background-position: center;
      background-size: contain;
      border: var(--#{$prefix}form-multi-select-new-option-indicator-border);
      @include border-radius(var(--#{$prefix}form-multi-select-new-option-indicator-border-radius));
    }
  }


  &.form-multi-selected {
    background-color: var(--#{$prefix}form-multi-select-new-option-selected-bg);

    &::before {
      background-color: var(--#{$prefix}form-multi-select-new-option-selected-indicator-bg);
      background-image: var(--#{$prefix}form-multi-select-new-option-selected-indicator-bg-image);
      border-color: var(--#{$prefix}form-multi-select-new-option-selected-indicator-border-color);
    }
  }
}

.form-multi-select-new-optgroup-label {
  padding: var(--#{$prefix}form-multi-select-new-options-padding-y) var(--#{$prefix}form-multi-select-new-options-padding-x);
  font-size: var(--#{$prefix}form-multi-select-new-optgroup-label-font-size);
  font-weight: var(--#{$prefix}form-multi-select-new-optgroup-label-font-weight);
  color: var(--#{$prefix}form-multi-select-new-optgroup-label-color);
  text-transform: var(--#{$prefix}form-multi-select-new-optgroup-label-text-transform);
}

.form-multi-select-new-options-empty {
  padding: var(--#{$prefix}form-multi-select-new-option-padding-y) var(--#{$prefix}form-multi-select-new-option-padding-x);
}


.form-multi-select-new-sm {
  --#{$prefix}form-multi-select-new-padding-y: #{$form-multi-select-new-padding-y-sm};
  --#{$prefix}form-multi-select-new-padding-x: #{$form-multi-select-new-padding-x-sm};
  --#{$prefix}form-multi-select-new-font-size: #{$form-multi-select-new-font-size-sm};
  --#{$prefix}form-multi-select-new-border-radius: #{$form-multi-select-new-border-radius-sm};
  --#{$prefix}form-multi-select-new-tag-padding-y: #{$form-multi-select-new-tag-padding-y-sm};
  --#{$prefix}form-multi-select-new-tag-padding-x: #{$form-multi-select-new-tag-padding-x-sm};
  --#{$prefix}form-multi-select-new-tag-border-radius: #{$form-multi-select-new-tag-border-radius-sm};
  --#{$prefix}form-multi-select-new-selection-tags-gap: #{$form-multi-select-new-selection-tags-gap-sm};
  --#{$prefix}form-multi-select-new-selection-tags-padding-y: #{$form-multi-select-new-selection-tags-padding-y-sm};
  --#{$prefix}form-multi-select-new-selection-tags-padding-x: #{$form-multi-select-new-selection-tags-padding-x-sm};
}

.form-multi-select-new-lg {
  --#{$prefix}form-multi-select-new-padding-y: #{$form-multi-select-new-padding-y-lg};
  --#{$prefix}form-multi-select-new-padding-x: #{$form-multi-select-new-padding-x-lg};
  --#{$prefix}form-multi-select-new-font-size: #{$form-multi-select-new-font-size-lg};
  --#{$prefix}form-multi-select-new-border-radius: #{$form-multi-select-new-border-radius-lg};
  --#{$prefix}form-multi-select-new-tag-padding-y: #{$form-multi-select-new-tag-padding-y-lg};
  --#{$prefix}form-multi-select-new-tag-padding-x: #{$form-multi-select-new-tag-padding-x-lg};
  --#{$prefix}form-multi-select-new-tag-border-radius: #{$form-multi-select-new-tag-border-radius-lg};
  --#{$prefix}form-multi-select-new-selection-tags-gap: #{$form-multi-select-new-selection-tags-gap-lg};
  --#{$prefix}form-multi-select-new-selection-tags-padding-y: #{$form-multi-select-new-selection-tags-padding-y-lg};
  --#{$prefix}form-multi-select-new-selection-tags-padding-x: #{$form-multi-select-new-selection-tags-padding-x-lg};
}
