// stylelint-disable @stylistic/number-leading-zero, selector-attribute-quotes

@use "../../mixins/color-mode" as *;
@use "../../colors" as *;
@use "../../config" as *;

@include describe("global $color-mode-type: data") {
  @include it("generates data attribute selectors for dark mode") {
    @include assert() {
      @include output() {
        @include color-mode(dark) {
          .element {
            color: var(--cui-primary-fg-emphasis);
            background-color: var(--cui-primary-bg-subtle);
          }
        }
        @include color-mode(dark, true) {
          --custom-color: #{$gray};
        }
      }
      @include expect() {
        [data-coreui-theme=dark] .element {
          color: var(--cui-primary-fg-emphasis);
          background-color: var(--cui-primary-bg-subtle);
        }
        [data-coreui-theme=dark] {
          --custom-color: oklch(60% 0.03948 265.02deg);
        }
      }
    }
  }
}

@include describe("global $color-mode-type: media-query") {
  @include it("generates media queries for dark mode") {
    $color-mode-type: media-query !global;

    @include assert() {
      @include output() {
        @include color-mode(dark) {
          .element {
            color: var(--cui-primary-fg-emphasis);
            background-color: var(--cui-primary-bg-subtle);
          }
        }
        @include color-mode(dark, true) {
          --custom-color: #{$gray};
        }
      }
      @include expect() {
        @media (prefers-color-scheme: dark) {
          .element {
            color: var(--cui-primary-fg-emphasis);
            background-color: var(--cui-primary-bg-subtle);
          }
        }
        @media (prefers-color-scheme: dark) {
          :root,
          :host {
            --custom-color: oklch(60% 0.03948 265.02deg);
          }
        }
      }
    }

    $color-mode-type: data !global;
  }
}
