@use "../functions/defaults" as *;
@use "../mixins/box-shadow" as *;
@use "../mixins/tokens" as *;
@use "../mixins/transition" as *;
@use "../config" as *;

$hover-lift-tokens: () !default;

// stylelint-disable scss/dollar-variable-default

// scss-docs-start hover-lift-tokens
$hover-lift-tokens: defaults(
  (
    --#{$prefix}hover-lift-transition-duration: .2s,
    --#{$prefix}hover-lift-transition-timing: ease,
    --#{$prefix}hover-lift-transform: translateY(-.25rem),
    --#{$prefix}hover-lift-box-shadow: var(--#{$prefix}box-shadow-lg),
  ),
  $hover-lift-tokens
);
// scss-docs-end hover-lift-tokens

// stylelint-enable scss/dollar-variable-default

@layer helpers {
  .hover-lift {
    @include tokens($hover-lift-tokens);
    @include transition(
      transform var(--#{$prefix}hover-lift-transition-duration) var(--#{$prefix}hover-lift-transition-timing),
      box-shadow var(--#{$prefix}hover-lift-transition-duration) var(--#{$prefix}hover-lift-transition-timing)
    );

    &:hover,
    &:focus-visible {
      transform: var(--#{$prefix}hover-lift-transform);
      @include box-shadow(var(--#{$prefix}hover-lift-box-shadow));
    }
  }
}
