@use "../mixins/transition" as *;
@use "../config" as *;

// stylelint-disable function-disallowed-list

// Icon links
// scss-docs-start icon-link-variables
$icon-link-gap:               .375rem !default;
$icon-link-underline-offset:  .25em !default;
$icon-link-icon-size:         1em !default;
$icon-link-icon-transition:   .2s ease-in-out transform !default;
$icon-link-icon-transform:    translate3d(.25em, 0, 0) !default;
// scss-docs-end icon-link-variables

@layer helpers {
  .icon-link {
    display: inline-flex;
    gap: $icon-link-gap;
    align-items: center;
    text-decoration-color: color-mix(in srgb, var(--#{$prefix}link-color) calc(var(--#{$prefix}link-opacity, .5) * 100%), transparent);
    text-underline-offset: $icon-link-underline-offset;
    backface-visibility: hidden;

    > .bi {
      flex-shrink: 0;
      width: $icon-link-icon-size;
      height: $icon-link-icon-size;
      fill: currentcolor;
      @include transition($icon-link-icon-transition);
    }
  }

  .icon-link-hover {
    &:hover,
    &:focus-visible {
      > .bi {
        transform: var(--#{$prefix}icon-link-transform, $icon-link-icon-transform);
      }
    }
  }
}
