@use "sass:map";
@use "../layout/breakpoints" as *;
@use "../config" as *;

@layer helpers {
  .fixed-top {
    position: fixed;
    inset: 0 0 auto;
    z-index: var(--#{$prefix}z-fixed);
  }

  .fixed-bottom {
    position: fixed;
    inset: auto 0 0;
    z-index: var(--#{$prefix}z-fixed);
  }

  // Responsive sticky top and bottom
  @each $breakpoint in map.keys($grid-breakpoints) {
    @include media-breakpoint-up($breakpoint) {
      $infix: breakpoint-infix($breakpoint, $grid-breakpoints);

      .sticky#{$infix}-top {
        position: sticky;
        top: 0;
        z-index: var(--#{$prefix}z-sticky);
      }

      .sticky#{$infix}-bottom {
        position: sticky;
        bottom: 0;
        z-index: var(--#{$prefix}z-sticky);
      }
    }
  }
}
