@use "../config" as *;

// scss-docs-start vr-variables
$vr-border-width:             var(--#{$prefix}border-width) !default;
// scss-docs-end vr-variables

@layer helpers {
  .vr {
    display: inline-block;
    align-self: stretch;
    width: $vr-border-width;
    min-height: 1em;
    padding: 0;
    background-color: currentcolor;
    opacity: $hr-opacity;
  }
}
