@use "../functions/defaults" as *;
@use "../mixins/border-radius" as *;
@use "../mixins/box-shadow" as *;
@use "../mixins/focus-ring" as *;
@use "../mixins/tokens" as *;
@use "../mixins/transition" as *;
@use "../config" as *;

$search-button-tokens: () !default;

// stylelint-disable scss/dollar-variable-default

// scss-docs-start search-button-tokens
$search-button-tokens: defaults(
  (
    --#{$prefix}search-button-height: var(--#{$prefix}btn-input-min-height),
    --#{$prefix}search-button-padding-x: var(--#{$prefix}btn-input-padding-x),
    --#{$prefix}search-button-font-size: var(--#{$prefix}btn-input-font-size),
    --#{$prefix}search-button-font-weight: var(--#{$prefix}btn-input-font-weight),
    --#{$prefix}search-button-color: var(--#{$prefix}fg-2),
    --#{$prefix}search-button-bg: var(--#{$prefix}btn-input-bg),
    --#{$prefix}search-button-border-width: var(--#{$prefix}btn-input-border-width),
    --#{$prefix}search-button-border-color: var(--#{$prefix}btn-input-border-color),
    --#{$prefix}search-button-border-radius: var(--#{$prefix}btn-input-border-radius),
    --#{$prefix}search-button-box-shadow: var(--#{$prefix}btn-input-box-shadow),
    --#{$prefix}search-button-transition-property: var(--#{$prefix}btn-input-transition-property),
    --#{$prefix}search-button-transition-duration: var(--#{$prefix}btn-input-transition-duration),
    --#{$prefix}search-button-transition-timing: var(--#{$prefix}btn-input-transition-timing),
    --#{$prefix}search-button-focus-color: var(--#{$prefix}btn-input-focus-color),
    --#{$prefix}search-button-focus-bg: var(--#{$prefix}btn-input-focus-bg),
    --#{$prefix}search-button-focus-border-color: var(--#{$prefix}btn-input-focus-border-color),
    --#{$prefix}search-button-icon-size: 1.125rem,
    --#{$prefix}search-button-keys-gap: .25rem,
    --#{$prefix}search-button-key-width: 1.5rem,
    --#{$prefix}search-button-key-height: 1.5rem,
    --#{$prefix}search-button-key-padding-inline: .25rem,
    --#{$prefix}search-button-key-font-size: .75rem,
    --#{$prefix}search-button-key-bg: var(--#{$prefix}bg-2),
    --#{$prefix}search-button-key-border-radius: var(--#{$prefix}radius-3),
    --#{$prefix}search-button-key-active-bg: var(--#{$prefix}bg-3),
    --#{$prefix}search-button-placeholder-margin-inline: .55rem 2rem,
  ),
  $search-button-tokens
);
// scss-docs-end search-button-tokens

// stylelint-enable scss/dollar-variable-default
@layer components {
  .search-button {
    @include tokens($search-button-tokens);

    display: flex;
    align-items: center;
    height: var(--#{$prefix}search-button-height);
    padding-inline: var(--#{$prefix}search-button-padding-x);
    font-size: var(--#{$prefix}search-button-font-size);
    font-weight: var(--#{$prefix}search-button-font-weight);
    color: var(--#{$prefix}search-button-color);
    background-color: var(--#{$prefix}search-button-bg);
    border: var(--#{$prefix}search-button-border-width) solid var(--#{$prefix}search-button-border-color);

    @include border-radius(var(--#{$prefix}search-button-border-radius), 0);
    @include box-shadow(var(--#{$prefix}search-button-box-shadow));
    @include transition-props(
      var(--#{$prefix}search-button-transition-property),
      var(--#{$prefix}search-button-transition-duration),
      var(--#{$prefix}search-button-transition-timing)
    );

    &:focus-visible {
      color: var(--#{$prefix}search-button-focus-color);
      background-color: var(--#{$prefix}search-button-focus-bg);
      border-color: var(--#{$prefix}search-button-focus-border-color);
      @include focus-ring(true);
    }
  }

  .search-button-icon {
    width: var(--#{$prefix}search-button-icon-size);
    height: var(--#{$prefix}search-button-icon-size);
  }

  .search-button-keys {
    display: inline-flex;
    gap: var(--#{$prefix}search-button-keys-gap);
    margin-inline-start: auto;
  }

  .search-button-key {
    display: flex;
    align-items: center;
    justify-content: center;
    min-width: var(--#{$prefix}search-button-key-width);
    height: var(--#{$prefix}search-button-key-height);
    padding-inline: var(--#{$prefix}search-button-key-padding-inline);
    font-size: var(--#{$prefix}search-button-key-font-size);
    background-color: var(--#{$prefix}search-button-key-bg);
    @include border-radius(var(--#{$prefix}search-button-key-border-radius));

    &.active {
      background-color: var(--#{$prefix}search-button-key-active-bg);
    }
  }

  .search-button-placeholder {
    margin-inline: var(--#{$prefix}search-button-placeholder-margin-inline);
  }
}
