@use "../functions/defaults" as *;
@use "../layout/breakpoints" as *;
@use "../mixins/ltr-rtl" as *;
@use "../mixins/tokens" as *;
@use "../config" as *;
@use "sidebar" as *;

// scss-docs-start sidebar-narrow-variables
$sidebar-narrow-width:                     4rem !default;
// scss-docs-end sidebar-narrow-variables

// stylelint-disable scss/dollar-variable-default

// scss-docs-start sidebar-narrow-tokens
$sidebar-narrow-tokens: () !default;
$sidebar-narrow-tokens: defaults(
  (
    --#{$prefix}sidebar-narrow-width: #{$sidebar-narrow-width},
    --#{$prefix}sidebar-padding-x: .5rem,
  ),
  $sidebar-narrow-tokens
);
// scss-docs-end sidebar-narrow-tokens

// scss-docs-start sidebar-narrow-unfoldable-tokens
$sidebar-narrow-unfoldable-tokens: () !default;
$sidebar-narrow-unfoldable-tokens: defaults(
  (
    --#{$prefix}sidebar-narrow-unfoldable-box-shadow: var(--#{$prefix}box-shadow),
  ),
  $sidebar-narrow-unfoldable-tokens
);
// scss-docs-end sidebar-narrow-unfoldable-tokens

// stylelint-enable scss/dollar-variable-default

@layer components {
  .sidebar-narrow {
    @include tokens($sidebar-narrow-tokens);

    @include media-breakpoint-up($mobile-breakpoint) {
      flex: 0 0 var(--#{$prefix}sidebar-narrow-width);
      width: var(--#{$prefix}sidebar-narrow-width);
      padding-bottom: var(--#{$prefix}sidebar-toggler-height);
      overflow: visible;

      .sidebar-header {
        justify-content: center;
        padding-inline: 0;
      }

      .sidebar-nav {
        --#{$prefix}sidebar-nav-link-padding-x: #{.5rem};
        --#{$prefix}sidebar-nav-link-padding-y: #{.75rem};
      }

      .nav-link {
        overflow: hidden;
      }

      .nav-icon {
        flex: 0 0 calc(var(--#{$prefix}sidebar-narrow-width) - (var(--#{$prefix}sidebar-nav-padding-x) * 2) - (var(--#{$prefix}sidebar-nav-link-padding-x) * 2));
      }

      .nav-label,
      .nav-title,
      .nav-group-items {
        height: 0 !important; // stylelint-disable-line declaration-no-important
        padding: 0 !important; // stylelint-disable-line declaration-no-important
        margin: 0 !important; // stylelint-disable-line declaration-no-important
        visibility: hidden;
        opacity: 0;
      }

      .sidebar-toggler::before {
        transform: rotate(-180deg);
      }

      .sidebar-toggler {
        @include rtl() {
          &::before {
            transform: rotate(0deg);
          }
        }
      }

      &.sidebar-end .sidebar-toggler::before {
        transform: rotate(0deg);
      }
    }
  }

  .sidebar-narrow-unfoldable {
    @include tokens($sidebar-narrow-unfoldable-tokens);
    @extend .sidebar-fixed;

    &:not(:hover) {
      @extend .sidebar-narrow;
    }

    &:hover {
      box-shadow: var(--#{$prefix}sidebar-narrow-unfoldable-box-shadow);

      .sidebar-toggler::before {
        transform: rotate(-180deg);
      }

      .sidebar-toggler {
        @include rtl() {
          &::before {
            transform: rotate(0deg);
          }
        }
      }

      &.sidebar-end .sidebar-toggler::before {
        transform: rotate(0deg);
      }
    }
  }

  .sidebar-narrow,
  .sidebar-narrow-unfoldable {
    @include media-breakpoint-up($mobile-breakpoint) {
      &:not(.hide) {
        @include sidebar-occupy($sidebar-narrow-width);
      }
    }
  }
}

@layer utilities {
  .sidebar-narrow {
    @include media-breakpoint-up($mobile-breakpoint) {
      .d-narrow-none,
      .sidebar-brand-full,
      .d-sidebar-narrow-none {
        display: none;
      }
    }
  }

  .sidebar-narrow-unfoldable .d-sidebar-narrow-unfoldable-none,
  .sidebar:not(.sidebar-narrow) .sidebar-brand-narrow,
  .sidebar:not(.sidebar-narrow) .d-sidebar-narrow,
  .sidebar:not(.sidebar-narrow-unfoldable) .d-sidebar-narrow-unfoldable {
    display: none;
  }
}
